<div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">活动满减查询</h2>
        </div>
    </div>
    <!--查询条件表单 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form name="searchFormName" rol="form" class="form-inline" ng-submit="search()">

                            <div class="form-group">
                                <select class="form-control" ng-model="searchForm.cityId"
                                        ng-options="c.id as c.name for c in cities" refresh-enabled="Integer">
                                    <option value="">选择-城市</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="searchForm.warehouseId"
                                        ng-options="w.id as w.name for w in warehouses" refresh-enabled="Integer">
                                    <option value="">选择-市场</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="餐馆 ID" ng-model="searchForm.restaurantId"
                                       refresh-enabled="Integer">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="餐馆名称" ng-model="searchForm.restaurantName"
                                       refresh-enabled="String">
                            </div>

                            <div class="form-group">
                                下单时间：
                                <input type="text" class="form-control" placeholder="下单时间"
                                       ng-model="searchForm.orderSubmitFront" is-open="orderSubmitFront"
                                       datepicker-popup datepicker-options="dateOptions"
                                       current-text="今日" clear-text="清除" close-text="关闭"
                                       ng-click="orderSubmitFront=true" date-for-search refresh-enabled="Date" />
                                —
                                <input type="text" class="form-control" placeholder="下单时间"
                                       ng-model="searchForm.orderSubmitBack" is-open="orderSubmitBack"
                                       datepicker-popup datepicker-options="dateOptions"
                                       current-text="今日" clear-text="清除" close-text="关闭"
                                       ng-click="orderSubmitBack=true " date-for-search refresh-enabled="Date" />
                            </div>
                            <div class="form-group">
                                收货时间：
                                <input type="text" class="form-control" placeholder="收货时间"
                                       ng-model="searchForm.stokoutTimeFront" is-open="stokoutTimeFront"
                                       datepicker-popup datepicker-options="dateOptions"
                                       current-text="今日" clear-text="清除" close-text="关闭"
                                       ng-click="stokoutTimeFront=true" date-for-search refresh-enabled="Date" />
                                —
                                <input type="text" class="form-control" placeholder="收货时间"
                                       ng-model="searchForm.stokoutTimeBak" is-open="stokoutTimeBak"
                                       datepicker-popup datepicker-options="dateOptions"
                                       current-text="今日" clear-text="清除" close-text="关闭"
                                       ng-click="stokoutTimeBak=true " date-for-search refresh-enabled="Date" />
                            </div>
                            <input type="text" class="form-control" placeholder="订单id" ng-model="searchForm.orderId" refresh-enabled="Integer">
                            <input type="text" class="form-control" placeholder="活动id" ng-model="searchForm.promotionId" refresh-enabled="Integer">

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" >&nbsp;&nbsp;查&nbsp;&nbsp;询&nbsp;&nbsp;</button>
                                <button type="button" class="btn btn-info" ng-click="reset()">&nbsp;&nbsp;重&nbsp;&nbsp;置&nbsp;&nbsp;</button>
                                <button type="button" class="btn btn-success" ng-click="export()" >&nbsp;&nbsp;导&nbsp;&nbsp;出&nbsp;&nbsp;</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
    <!-- 明细列表 -->
    <div class="row">
        <div class="col-lg-12 dataTable_wrapper table-responsive">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>
                        金额合计：<span class="text text-info ng-binding">{{lineTotal.discount}}</span>
                    </strong>
                </div>
                <table class="table table-striped  table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>订单ID</th>
                            <th>下单时间</th>
                            <th>收货时间</th>
                            <th>餐馆ID</th>
                            <th>餐馆名称</th>
                            <th>类型</th>
                            <th>活动ID</th>
                            <th>满减额度</th>
                            <th>活动描述</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="line in listData">
                            <td>{{line.orderId}}</td>
                            <td>{{line.submitDate | date : "yyyy-MM-dd HH:mm:ss"}}</td>
                            <td>{{line.receiveDate | date : "yyyy-MM-dd HH:mm:ss"}}</td>
                            <td>{{line.restaurantId}}</td>
                            <td>{{line.restaurantName}}</td>
                            <td>{{line.promotionType.name}}</td>
                            <td>{{line.promotionId}}</td>
                            <td>{{line.discount}}</td>
                            <td>{{line.promotionDes}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 列表底部分页 -->
    <div class="row" align="center">
        <div calss="col-lg-12">
            <pagination total-items="page.totalItems" ng-model="page.currentPage" items-per-page="page.itemsPerPage"
                        max-size="10" class="pagination" boundary-links="true" ng-change="pageChanged()" first-text="首页"
                        last-text="尾页" previous-text="上一页" next-text="下一页"></pagination>
        </div>
    </div>
    <loader class="maskLayer"></loader>
</div>
    