<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">采购单信息</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form name="iForm" rol="form" class="form-inline">
                            <div class="form-group">
                                <select class="form-control" ng-disabled="!add" name="cityId" ng-model="searchForm.cityId" ng-options="city.id as city.name for city in cities" validate-null>
                                    <option value="">请选择-城市</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-disabled="!add" name="organizationId" ng-model="searchForm.organizationId" ng-options="o.id as o.name for o in organizations" validate-null>
                                    <option value="">请选择-店面</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-disabled="!add" name="depotId" ng-model="searchForm.depotId" ng-options="depot.id as depot.name for depot in depots" ng-change="changeDepotId()" validate-null>
                                    <option value="">请选择-仓库</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <ui-select class="editable-input" ng-disabled="!add" name="vendorId" ng-model="searchForm.vendorId" theme="bootstrap" validate-null>
                                    <ui-select-match allow-clear placeholder="请选择-供货商">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices refresh-delay="0" repeat="vendor.id as vendor in vendors | filter: $select.search">
                                        <span ng-bind-html="vendor.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-disabled="!edit" name="expectedArrivedDate" placeholder="预计到货日期" datepicker-popup ng-model="searchForm.expectedArrivedDate" is-open="openedExpectedArrivedDate" datepicker-options="" current-text="今日" clear-text="清除" close-text="关闭" ng-click="openedExpectedArrivedDate=true" formated-date/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-disabled="!edit" name="remark" placeholder="备注" ng-model="searchForm.remark">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-lg-12 dataTable_wrapper table-responsive">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>总金额：<span class="text text-info">{{purchaseOrderTotal}}</span></strong>
                </div>
                <form name="tableform">
                    <table class="table table-bordered table-hover table-condensed">
                        <tr>
                            <th style="width:6%">sku</th>
                            <th style="width:15%">名称</th>
                            <th style="width:4%">税率</th>
                            <th style="width:4%">库存</th>
                            <th style="width:4%">成本</th>
                            <th style="width:4%">定价</th>
                            <th style="width:6%">上次采购价</th>
                            <th style="width:8%" ng-if="!edit">需求数量</th>
                            <th style="width:7%">采购数量</th>
                            <th style="width:3%">单位</th>
                            <th style="width:7%">打包数量</th>
                            <th style="width:4%">打包单位</th>
                            <th style="width:7%">单品价</th>
                            <th style="width:7%">打包价</th>
                            <th style="width:8%">总价</th>
                            <th style="width:8%">状态</th>
                            <th style="width:4%" ng-if="edit">操作</th>
                        </tr>
                        <tr ng-repeat="purchaseOrderItem in purchaseOrderItems">
                            <td ng-if="edit">
                                <input class="editable-input" type="text" name="skuId_{{$index}}" ng-model="purchaseOrderItem.skuId" ng-blur="searchSku(purchaseOrderItem);" validate-null validate-number/>
                            </td>
                            <td ng-if="!edit">
                                {{ purchaseOrderItem.skuId }}
                            </td>
                            <td ng-if="edit">
                                <div>
                                    <ui-select class="editable-input" ng-model="purchaseOrderItem.skuId" theme="bootstrap" ng-click="resetCandidateSkus()" ng-change="searchSku(purchaseOrderItem);">
                                        <ui-select-match allow-clear placeholder="请输入">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices refresh="funcAsync($select.search)" refresh-delay="0" repeat="candidateSku.id as candidateSku in candidateSkus | filter: $select.search">
                                            <span ng-bind-html="candidateSku.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </td>
                            <td ng-if="!edit">
                                    {{ purchaseOrderItem.name }}
                            </td>
                            <td>
                                    {{ purchaseOrderItem.rate }}
                            </td>
                            <td>
                                    {{ purchaseOrderItem.quantity }}
                            </td>
                            <td>
                                    {{ purchaseOrderItem.avgCost }}
                            </td>
                            <td>
                                    {{ purchaseOrderItem.fixedPrice }}
                            </td>
                            <td>
                                    {{ purchaseOrderItem.lastPurchasePrice }}
                            </td>
                            <td ng-if="!edit">
                                    {{ purchaseOrderItem.needQuantity }}
                            </td>
                            <td ng-if="edit">
                                <input class="editable-input" type="text" name="purchaseQuantity_{{$index}}" ng-model="purchaseOrderItem.purchaseQuantity" ng-blur="savePurchaseQuantity(purchaseOrderItem);" validate-null validate-number validate-positive/>
                            </td>
                            <td ng-if="!edit">
                                    {{ purchaseOrderItem.purchaseQuantity }}
                            </td>
                            <td>
                                    {{ purchaseOrderItem.singleUnit }}
                            </td>
                            <td ng-if="edit">
                                <input class="editable-input" type="text" name="purchaseBundleQuantity_{{$index}}" ng-model="purchaseOrderItem.purchaseBundleQuantity" ng-blur="savePurchaseBundleQuantity(purchaseOrderItem);" validate-null validate-number validate-positive/>
                            </td>
                            <td ng-if="!edit">
                                    {{ purchaseOrderItem.purchaseBundleQuantity }}
                            </td>
                            <td>
                                    {{ purchaseOrderItem.bundleUnit }}
                            </td>
                            <td ng-if="edit">
                                <input class="editable-input" type="text" name="purchasePrice_{{$index}}" ng-model="purchaseOrderItem.purchasePrice" ng-blur="savePurchasePrice(purchaseOrderItem);" validate-null validate-number validate-positive/>
                            </td>
                            <td ng-if="!edit">
                                    {{ purchaseOrderItem.purchasePrice }}
                            </td>
                            <td ng-if="edit">
                                <input class="editable-input" type="text" name="purchaseBundlePrice_{{$index}}" ng-model="purchaseOrderItem.purchaseBundlePrice" ng-blur="savePurchaseBundlePrice(purchaseOrderItem);" validate-null validate-number validate-positive/>
                            </td>
                            <td ng-if="!edit">
                                {{ purchaseOrderItem.purchaseBundlePrice }}
                            </td>
                            <td ng-if="edit">
                                <input class="editable-input" type="text" name="purchaseTotalPrice_{{$index}}" ng-model="purchaseOrderItem.purchaseTotalPrice" ng-blur="savePurchaseTotalPrice(purchaseOrderItem);" validate-null validate-number validate-positive/>
                            </td>
                            <td ng-if="!edit">
                                    {{ purchaseOrderItem.purchaseTotalPrice }}
                            </td>
                            <td>
                                {{ purchaseOrderItem.status.name }}
                            </td>
                            <td ng-if="edit"><button type="button" ng-click="remove($index)" class="btn btn-danger pull-right">删除</button></td>
                        </tr>
                    </table>

                    <button type="button" ng-disabled="add && iForm.$invalid" ng-show="edit" ng-click="addItem()" class="btn btn-default">添加一行</button>

                    <div ng-if="showOpinion||canAudit" class="form-group">
                        <label><font color="red">*</font>审批意见</label>
                        <textarea ng-disabled="!canAudit" name="opinion" class="form-control" ng-model="searchForm.opinion" auto-grow validate-null></textarea>
                    </div>

                    <div class="form-group">
                    <button ng-disabled="(add && iForm.$invalid) || tableform.$invalid || purchaseOrderItems.length==0 || submitting" ng-show="edit" ng-click="submit()" type="submit" class="btn btn-primary">&nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;</button>
                    <button ng-show="edit" type="button" back class="btn btn-default">&nbsp;&nbsp;返&nbsp;&nbsp;回&nbsp;&nbsp;</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12">
            <button ng-disabled="submitting" ng-if="canAudit" type="submit" class="btn btn-primary" ng-click="audit(true)">&nbsp;&nbsp;同&nbsp;&nbsp;意&nbsp;&nbsp;</button>
            <button ng-disabled="tableform.$invalid || submitting" ng-if="canAudit" type="submit" class="btn btn-primary" ng-click="audit(false)">&nbsp;&nbsp;退&nbsp;&nbsp;回&nbsp;&nbsp;</button>
            <button ng-if="!edit" type="button" back class="btn btn-default">&nbsp;&nbsp;返&nbsp;&nbsp;回&nbsp;&nbsp;</button>
        </div>
    </div>
    <loader class="maskLayer"></loader>
</div>
