<div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header" ng-show="stockOutType==1">销售出库单明细一览</h2>

            <h2 class="page-header" ng-show="stockOutType==2">调拨出库单明细一览</h2>

            <h2 class="page-header" ng-show="stockOutType==3">采退出库单明细一览</h2>
        </div>
    </div>

    <!--查询条件表单 -->
    <div class="row">
        <div class="col-lg-12">
            <form rol="form" class="form-inline">
                <div class="form-group">
                    <select class="form-control" ng-model="stockOutItemForm.cityId"
                            ng-options="c.id as c.name for c in cities" refresh-enabled="Integer">
                        <option value="">选择-城市</option>
                    </select>
                </div>
                <div class="form-group" ng-show="stockOutType!=2">
                    <select class="form-control" ng-model="stockOutItemForm.depotId"
                            ng-options="d.id as d.name for d in depots" refresh-enabled="Integer">
                        <option value="">选择-仓库</option>
                    </select>
                </div>
                <div class="form-group" ng-show="stockOutType==2">
                    <select class="form-control" ng-model="stockOutItemForm.sourceDepotId"
                            ng-options="sd.id as sd.name for sd in sourceDepots" refresh-enabled="Integer">
                        <option value="">出库-仓库</option>
                    </select>
                </div>
                <div class="form-group" ng-show="stockOutType==2">
                    <select class="form-control" ng-model="stockOutItemForm.targetDepotId"
                            ng-options="td.id as td.name for td in targetDepots" refresh-enabled="Integer">
                        <option value="">入库-仓库</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="stockOutItemForm.stockOutStatus"
                            ng-options="s.value as s.name for s in status" refresh-enabled="Integer">
                        <option value="">单据-状态</option>
                    </select>
                </div>
                <div class="form-group" ng-show="stockOutType==1">
                    <!--<select class="form-control" ng-model="stockOutItemForm.trackerId"-->
                            <!--ng-options="t.id as t.realname for t in trackers" refresh-enabled="Integer">-->
                        <!--<option value="">选择-线路</option>-->
                    <!--</select>-->
                    <refresh-enabled type="Integer" ng-model="stockOutItemForm.trackerId">
                        <ui-select class="editable-input" name="trackerId" ng-model="stockOutItemForm.trackerId" theme="bootstrap">
                            <ui-select-match allow-clear placeholder="请选择-线路">
                                {{$select.selected.realname}}
                            </ui-select-match>
                            <ui-select-choices refresh-delay="0" repeat="tracker.id as tracker in trackers | filter: $select.search">
                                <span ng-bind-html="tracker.realname | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </refresh-enabled>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="出库单号" ng-model="stockOutItemForm.stockOutId"
                           refresh-enabled="Integer">
                </div>
                <div class="form-group" ng-show="stockOutType==1">
                    <input type="text" class="form-control" placeholder="订单编号" ng-model="stockOutItemForm.orderId"
                           refresh-enabled="Integer">
                </div>
                <div class="form-group" ng-show="stockOutType==1">
                    <input type="text" class="form-control" placeholder="客户名称" ng-model="stockOutItemForm.customerName"
                           refresh-enabled="String">
                </div>
                <div class="form-group" ng-show="stockOutType==3">
                    <input type="text" class="form-control" placeholder="采购单号" ng-model="stockOutItemForm.purchaseId"
                           refresh-enabled="Integer">
                </div>
                <div class="form-group" ng-show="stockOutType==3">
                    <!--<input type="text" class="form-control" placeholder="供应商" ng-model="stockOutItemForm.vendorName" refresh-enabled="String">-->
                    <refresh-enabled type="Integer" ng-model="stockOutItemForm.vendorId">
                        <ui-select class="editable-input" name="vendorId" ng-model="stockOutItemForm.vendorId" theme="bootstrap">
                            <ui-select-match allow-clear placeholder="请选择-供货商">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices refresh-delay="0" repeat="vendor.id as vendor in vendors | filter: $select.search">
                                <span ng-bind-html="vendor.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </refresh-enabled>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="SKU ID" ng-model="stockOutItemForm.skuId"
                           refresh-enabled="Integer">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="商品名称" ng-model="stockOutItemForm.skuName"
                           refresh-enabled="String">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="起始出库时间"
                           ng-model="stockOutItemForm.startSendDate" is-open="openedStartSendDate"
                           datepicker-popup datepicker-options="dateOptions"
                           current-text="今日" clear-text="清除" close-text="关闭"
                           ng-click="openedStartSendDate=true" date-for-search refresh-enabled="Date"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="截至出库时间"
                           ng-model="stockOutItemForm.endSendDate" is-open="openedEndSendDate"
                           datepicker-popup datepicker-options="dateOptions"
                           current-text="今日" clear-text="清除" close-text="关闭"
                           ng-click="openedEndSendDate=true" date-for-search refresh-enabled="Date"/>
                </div>
                <div class="form-group" ng-show="stockOutType==1">
                    <input type="text" class="form-control" placeholder="起始收货时间"
                           ng-model="stockOutItemForm.startReceiveDate" is-open="openedStartReceiveDate"
                           datepicker-popup datepicker-options="dateOptions"
                           current-text="今日" clear-text="清除" close-text="关闭"
                           ng-click="openedStartReceiveDate=true" date-for-search refresh-enabled="Date"/>
                </div>
                <div class="form-group" ng-show="stockOutType==1">
                    <input type="text" class="form-control" placeholder="截至收货时间"
                           ng-model="stockOutItemForm.endReceiveDate" is-open="openedEndReceiveDate"
                           datepicker-popup datepicker-options="dateOptions"
                           current-text="今日" clear-text="清除" close-text="关闭"
                           ng-click="openedEndReceiveDate=true" date-for-search refresh-enabled="Date"/>
                </div>
                <div class="form-group" ng-show="stockOutType==2">
                    <input type="text" class="form-control" placeholder="起始调拨时间"
                           ng-model="stockOutItemForm.startTransferDate" is-open="openedStartTransferDate"
                           datepicker-popup datepicker-options="dateOptions"
                           current-text="今日" clear-text="清除" close-text="关闭"
                           ng-click="openedStartTransferDate=true" date-for-search refresh-enabled="Date"/>
                </div>
                <div class="form-group" ng-show="stockOutType==2">
                    <input type="text" class="form-control" placeholder="截至调拨时间"
                           ng-model="stockOutItemForm.endTransferDate" is-open="openedEndTransferDate"
                           datepicker-popup datepicker-options="dateOptions"
                           current-text="今日" clear-text="清除" close-text="关闭"
                           ng-click="openedEndTransferDate=true" date-for-search refresh-enabled="Date"/>
                </div>
                <div class="form-group" ng-show="stockOutType==2">
                    <input type="text" class="form-control" placeholder="起始审核时间"
                           ng-model="stockOutItemForm.startAuditDate" is-open="openedStartAuditDate"
                           datepicker-popup datepicker-options="dateOptions"
                           current-text="今日" clear-text="清除" close-text="关闭"
                           ng-click="openedStartAuditDate=true" date-for-search refresh-enabled="Date"/>
                </div>
                <div class="form-group" ng-show="stockOutType==2">
                    <input type="text" class="form-control" placeholder="截至审核时间"
                           ng-model="stockOutItemForm.endAuditDate" is-open="openedEndAuditDate"
                           datepicker-popup datepicker-options="dateOptions"
                           current-text="今日" clear-text="清除" close-text="关闭"
                           ng-click="openedEndAuditDate=true" date-for-search refresh-enabled="Date"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-click="searchStockOutItem()">&nbsp;&nbsp;查&nbsp;&nbsp;询&nbsp;&nbsp;</button>
                    <button type="button" class="btn btn-info" ng-click="resetForm()">&nbsp;&nbsp;重&nbsp;&nbsp;置&nbsp;&nbsp;</button>
                    <button type="button" class="btn btn-success" ng-click="exportExcel()">&nbsp;&nbsp;导&nbsp;&nbsp;出&nbsp;&nbsp;</button>
                </div>
            </form>
        </div>
    </div>
    <br>

    <!-- 出库单明细列表 -->
    <div class="row">
        <div class="col-lg-12 dataTable_wrapper table-responsive">
            <div class="panel panel-default">
                <div class="panel-heading">
                <strong>
                    总记录数：<span class="text text-info">{{page.totalItems}}</span>　　
                    总金额：<span class="text text-info">{{totalAmount[0]}}</span>　　
                </strong>
            </div>
            <div class="panel" style="overflow-x:auto;white-space:nowrap;margin-bottom: 0px;">
            <table class="table table-striped  table-bordered table-hover">
                <thead>
                <tr>
                    <th>出库单号</th>
                    <th ng-show="stockOutType==1">订单编号</th>
                    <th ng-show="stockOutType==2">调拨单号</th>
                    <th ng-show="stockOutType==3">采购单号</th>
                    <th>单据状态</th>
                    <th>明细状态</th>
                    <th>出库时间</th>
                    <th ng-show="stockOutType!=2">出库仓库</th>
                    <th ng-show="stockOutType==2">出库仓库</th>
                    <th ng-show="stockOutType==2">入库仓库</th>
                    <th ng-show="stockOutType==2">调拨日期</th>
                    <th ng-show="stockOutType==2">审核日期</th>
                    <th ng-show="stockOutType==1">线路</th>
                    <th ng-show="stockOutType==1">客户</th>
                    <th ng-show="stockOutType==1">收货日期</th>
                    <th ng-show="stockOutType==3">供应商</th>
                    <th>SKU ID</th>
                    <th>商品名称</th>
                    <th>规格型号</th>
                    <th>基本单位</th>
                    <th>数量</th>
                    <th>打包单位</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th>金额</th>
                    <th ng-show="stockOutType==3">采购金额</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stockOutItem in stockOutItems">
                    <td>
                        <a class="btn btn-xs btn-info" ui-sref="oam.stockOut-info({id:stockOutItem.stockOutId})">{{stockOutItem.stockOutId}}</a>
                    </td>
                    <td ng-show="stockOutType==1">
                        <a class="btn btn-xs btn-info" ui-sref="oam.order-info({id:stockOutItem.orderId})">{{stockOutItem.orderId}}</a>
                    </td>
                    <td ng-show="stockOutType==2">{{stockOutItem.transferId}}</td>
                    <td ng-show="stockOutType==3">
                        <a class="btn btn-xs btn-info" ui-sref="oam.purchase-order-info({id:stockOutItem.purchaseId})">{{stockOutItem.purchaseId}}</a>
                    </td>
                    <td>{{stockOutItem.stockOutStatus}}</td>
                    <td>{{stockOutItem.stockOutItemStatus}}</td>
                    <td>{{stockOutItem.sendDate | date : "yyyy-MM-dd HH:mm"}}</td>
                    <td ng-show="stockOutType!=2">{{stockOutItem.depotName}}</td>
                    <td ng-show="stockOutType==2">{{stockOutItem.sourceDepotName}}</td>
                    <td ng-show="stockOutType==2">{{stockOutItem.targetDepotName}}</td>
                    <td ng-show="stockOutType==2">{{stockOutItem.transferDate | date : "yyyy-MM-dd HH:mm"}}</td>
                    <td ng-show="stockOutType==2">{{stockOutItem.auditDate | date : "yyyy-MM-dd HH:mm"}}</td>
                    <td ng-show="stockOutType==1">{{stockOutItem.trackerName}}</td>
                    <td ng-show="stockOutType==1">{{stockOutItem.customerName}}</td>
                    <td ng-show="stockOutType==1">{{stockOutItem.receiveDate | date : "yyyy-MM-dd HH:mm"}}</td>
                    <td ng-show="stockOutType==3">{{stockOutItem.vendorName}}</td>
                    <td>{{stockOutItem.skuId}}</td>
                    <td>{{stockOutItem.skuName}}</td>
                    <td>{{stockOutItem.specification}}</td>
                    <td>{{stockOutItem.skuSingleUnit}}</td>
                    <td>{{stockOutItem.receiveQuantity}}</td>
                    <td>{{stockOutItem.skuBundleUnit}}</td>
                    <td>{{stockOutItem.bundleQuantity}}</td>
                    <td>{{stockOutItem.price}}</td>
                    <td>{{stockOutItem.amount}}</td>
                    <td ng-show="stockOutType==3">{{stockOutItem.purchaseAmount}}</td>
                </tr>
                </tbody>
            </table>
            </div>
            </div>
        </div>
    </div>

    <!-- 列表底部分页 -->
    <div class="row" align="center">
        <div calss="col-lg-12">
            <pagination total-items="page.totalItems" ng-model="page.currentPage" items-per-page="page.itemsPerPage"
                        max-size="10" class="pagination" boundary-links="true" ng-change="pageChanged()" first-text="首页"
                        last-text="尾页" previous-text="上一页" next-text="下一页"></pagination>
        </div>
    </div>

    <loader class="maskLayer"></loader>
</div>
    