    <div class="form-group">
        <label>投诉类别</label><br/>
        <select id="complainType" class="form-control" style="width: 195px"
                ng-model="formData.content.complainType"
                ng-options="complainType as complainType for complainType in
                ['投诉送货司机', '投诉销售人员', '投诉产品质量','投诉其他']">
            <option value="">请选择-投诉类别</option>
        </select>
    </div>
    <div class="form-group">
        <label>投诉部门</label><br/>
        <select id="complainDepartmentType" class="form-control" style="width: 195px"
                ng-model="formData.content.complainDepartmentType"
                ng-options="complainDepartmentType as complainDepartmentType for complainDepartmentType in
                ['销售部', '物流部', '采购部','其他部门']">
            <option value="">请选择-投诉部门</option>
        </select>
    </div>
    <div class="form-group">
        <label>投诉处理过程</label><br/>
        <select id="complainProcess" class="form-control" style="width: 195px"
                ng-model="formData.content.complainProcess"
                ng-options="complainProcess as complainProcess for complainProcess in
                ['已安抚并记录', '已反馈到投诉部门','投诉部门已处理', '已回访投诉人','已完成']">
            <option value="">请选择-投诉处理过程</option>
        </select>
    </div>
    <br/><br/>
    <div class="form-group">
        <label>投诉事项</label><br/>
        <textarea rows="10" style="width: 1000px" ng-model="formData.content.complains" id="complains" class="form-control" placeholder="投诉事项"></textarea>
    </div>
    <br/><br/>
    <div class="form-group">
        <label>期望的处理方法</label><br/>
        <textarea rows="10" style="width: 1000px" ng-model="formData.content.complainExpected" id="complainExpected" class="form-control" placeholder="期望的处理方法"></textarea>
    </div>
    <br/><br/>
    <div class="form-group">
        <label>处理描述</label><br/>
        <textarea rows="10" style="width: 1000px" ng-model="formData.content.complainDescription" id="complainDescription" class="form-control" placeholder="处理描述"></textarea>
    </div>