    <div class="form-group">
        <label>未分车原因</label><br/>
        <select id="noCarReason" class="form-control" style="width: 195px"
                ng-model="formData.content.noCarReason"
                ng-options="noCarReason as noCarReason for noCarReason in
                ['客户地标不准确','客户区域不准确','客户其他信息不完整','分车人员操作失误']">
            <option value="">请选择-未分车原因</option>
        </select>
    </div>
    <div class="form-group">
        <label>未分单处理过程描述</label><br/>
        <select id="noCarType" class="form-control" style="width: 195px"
                ng-model="formData.content.noCarType"
                ng-options="noCarType as noCarType for noCarType in ['已联系物流送货','已通知客户取消订单','待处理']">
            <option value="">请选择-未分单处理过程描述</option>
        </select>
    </div>
    <br/><br/>
    <div class="form-group">
        <label>处理描述</label><br/>
        <textarea rows="10" style="width: 1000px" ng-model="formData.content.noCarDescription" id="noCarDescription" class="form-control" placeholder="处理描述"></textarea>
    </div>