    <div class="form-group">
        <label>下单时间</label><br/>
        <input type="date" ng-model="formData.content.visitSingleTime" id="visitSingleTime" class="form-control"  style="width: 175px" placeholder="下单时间">
    </div>
    <div class="form-group">
        <label>退货原因</label><br/>
        <select id="visitCname" class="form-control" style="width: 215px"
                ng-model="formData.content.visitCname"
                ng-options="visitCname as visitCname for visitCname in
                                            ['公司原因－产品质量问题','公司原因－非客户下订单','公司原因－非客户想要商品',
                                            '公司原因－客户信息不准确','公司原因－送货延迟','客户原因－闭店','客户原因－倒货',
                                            '客户原因－订单重复','客户原因－订多订错','客户原因－活动、赠品','客户原因－价格贵',
                                            '客户原因－其他','客户原因－无人签收','客户原因－直接拒绝']">
            <option value="">请选择-退货原因</option>
        </select>
    </div>
    <div class="form-group">
        <label>司机名称</label><br/>
        <input type="text" ng-model="formData.content.visitDriverName" id="visitDriverName" class="form-control" placeholder="司机名称">
    </div>
    <div class="form-group">
        <label>商品质量</label><br/>
        <input type="text" ng-model="formData.content.visitQuality" id="visitQuality" class="form-control" placeholder="商品质量">
    </div>
    <div class="form-group">
        <label>送货速度</label><br/>
        <input type="text" ng-model="formData.content.visitSpeed" id="visitSpeed" class="form-control" placeholder="送货速度">
    </div>
    <br/><br/>
    <div class="form-group">
        <label>订单评价处理描述</label><br/>
        <input type="text" ng-model="formData.content.visitDescription" id="visitDescription" class="form-control" placeholder="订单评价处理描述">
    </div>
    <div class="form-group">
        <label>订单评价处理过程</label><br/>
        <select id="visitProcess" class="form-control" style="width: 195px"
                ng-model="formData.content.visitProcess"
                ng-options="visitProcess as visitProcess for visitProcess in
                ['未接通','停机、错号等无法接通','客户满意已回访并记录','客户不满意已回访并反馈']">
            <option value="">请选择-订单评价处理过程</option>
        </select>
    </div>
    <br/><br/>
    <div class="form-group">
        <label>配送评价</label><br/>
        <textarea rows="10" style="width: 1000px" ng-model="formData.content.visitEvaluation" id="visitEvaluation" class="form-control" placeholder="配送评价"></textarea>
    </div>
    <br/><br/>
    <div class="form-group">
        <label>其他信息</label><br/>
        <textarea rows="10" style="width: 1000px" ng-model="formData.content.visitOtherInfo" id="visitOtherInfo" class="form-control" placeholder="其他信息"></textarea>
    </div>
