    <div class="form-group">
        <label>商户地址</label><br/>
        <input type="text" ng-model="formData.content.cancelAddress" id="cancelAddress" class="form-control" placeholder="商户地址">
    </div>
    <div class="form-group">
        <label>销售员</label><br/>
        <input type="text" ng-model="formData.content.cancelSalesperson" id="cancelSalesperson" class="form-control" placeholder="销售员">
    </div>
    <div class="form-group">
        <label>订单产品</label><br/>
        <input type="text" ng-model="formData.content.cancelProduct" id="cancelProduct" class="form-control" placeholder="订单产品">
    </div>
    <div class="form-group">
        <label>订购数量</label><br/>
        <input type="number" ng-model="formData.content.cancelQuantity" id="cancelQuantity" class="form-control" placeholder="订购数量">
    </div>
    <div class="form-group">
        <label>订单单价</label><br/>
        <input type="text" ng-model="formData.content.cancelUnitPrice" id="cancelUnitPrice" class="form-control" placeholder="订单单价">
    </div>
    <br/><br/>
    <div class="form-group">
        <label>退换数量</label><br/>
        <input type="number" ng-model="formData.content.cancelNum" id="cancelNum" class="form-control" placeholder="退换数量">
    </div>
    <div class="form-group">
        <label>退款金额</label><br/>
        <input type="text" ng-model="formData.content.cancelAmount" id="cancelAmount" class="form-control" placeholder="退款金额">
    </div>
    <div class="form-group">
        <label>送货车辆</label><br/>
        <input type="text" ng-model="formData.content.cancelCar" id="cancelCar" class="form-control" placeholder="送货车辆">
    </div>
    <div class="form-group">
        <label>送货日期</label><br/>
        <input type="date" ng-model="formData.content.DeliveryDate" id="DeliveryDate" class="form-control" placeholder="送货日期" style="width: 195px">
    </div>
    <div class="form-group">
        <label>退换原因</label><br/>
        <select id="cancelReason" class="form-control" style="width: 195px"
                ng-model="formData.content.cancelReason"
                ng-options="cancelReason as cancelReason for cancelReason in ['商户订错货', '物流送错货', '质量问题']">
            <option value="">请选择-退换原因</option>
        </select>
    </div>
    <br/><br/>
    <div class="form-group">
        <label>处理意见</label><br/>
        <select id="cancelSuggestion" class="form-control" style="width: 195px"
                ng-model="formData.content.cancelSuggestion"
                ng-options="cancelSuggestion as cancelSuggestion for cancelSuggestion in ['同意退货', '不可以退货', '补差价不退货']">
            <option value="">请选择-处理意见</option>
        </select>
    </div>
    <div class="form-group">
        <label>计划退货时间</label><br/>
        <input type="date" ng-model="formData.content.planDeliveryDate" id="planDeliveryDate" class="form-control" placeholder="计划退货时间" style="width: 195px">
    </div>
    <div class="form-group">
        <label>实际退货时间</label><br/>
        <input type="date" ng-model="formData.content.ActualDeliveryDate" id="ActualDeliveryDate" class="form-control" placeholder="实际退货时间" style="width: 195px">
    </div>
    <div class="form-group">
        <label>退货状态</label><br/>
        <select id="cancelType" class="form-control" style="width: 195px"
                ng-model="formData.content.cancelType"
                ng-options="cancelType as cancelType for cancelType in ['已记录', '已反馈给物流', '物流已确定退货时间','物流已退货','已回访','已完成']">
            <option value="">请选择-退货状态</option>
        </select>
    </div>
    <div class="form-group">
        <label>已退货产品处理</label><br/>
        <select id="cancelHandleType" class="form-control" style="width: 195px"
                ng-model="formData.content.cancelHandleType"
                ng-options="cancelHandleType as cancelHandleType for cancelHandleType in ['已退还供应商', '内部消耗处理', '其他']">
            <option value="">请选择-已退货产品处理</option>
        </select>
    </div><br/><br/>
    <div class="form-group">
        <label>已退货供应商处理</label><br/>
        <input type="text" ng-model="formData.content.supplier" id="supplier" class="form-control" placeholder="已退货供应商处理">
    </div>
    <br/><br/>
    <div class="form-group">
        <label>退换货备注</label><br/>
        <textarea rows="10" style="width: 1000px" ng-model="formData.content.cancelRemarks" id="cancelRemarks" class="form-control" placeholder="退换货备注"></textarea>
    </div>
    <br/><br/>
    <div class="form-group">
        <label>回访记录</label><br/>
        <textarea rows="10" style="width: 1000px" ng-model="formData.content.visitRecord" id="visitRecord" class="form-control" placeholder="回访记录"></textarea>
    </div>