    <div class="form-group">
        <label>处理过程</label><br/>
        <select id="checkProcess" class="form-control" style="width: 195px"
                ng-model="formData.content.checkProcess"
                ng-options="checkProcess as checkProcess for checkProcess in
                ['未联系成功客户或销售','已联系客户并取消','已联系客户并保留','已联系销售并取消','已联系销售并保留']">
            <option value="">请选择-处理过程</option>
        </select>
    </div><br/><br/>
    <div class="form-group">
        <label>处理描述</label><br/>
        <textarea rows="10" style="width: 1000px" ng-model="formData.content.checkDescription" id="checkDescription" class="form-control" placeholder="处理描述"></textarea>
    </div>