<div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">积分兑换查询</h2>
        </div>
    </div>

    <!-- -查询条件表单 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           data-target="#collapseTwo">
                            点击展开查询
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form rol="form" class="form-inline">
                            <div class="form-group">
                                <select class="form-control" ng-model="exchangeScoreSearchForm.cityId" ng-options="c.id as c.name for c in cities" refresh-enabled="Integer">
                                    <option value="">请选择-城市</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="exchangeScoreSearchForm.warehouseId" ng-options="o.id as o.name for o in availableWarehouses" refresh-enabled="Integer">
                                    <option value="">请选择-市场</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="餐馆ID" ng-model="exchangeScoreSearchForm.restaurantId" refresh-enabled="Integer">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="餐馆名称" ng-model="exchangeScoreSearchForm.restaurantName" refresh-enabled="String">
                            </div>

                            <div class="form-group form-inline-with-uiselect-min">
                                   <span class="nullable">
                                    <ui-select ng-model="exchangeScoreSearchForm.adminUserId" theme="bootstrap" reset-search-input="true">
                                        <ui-select-match allow-clear placeholder="请选择-销售">{{$select.selected.realname}}</ui-select-match>
                                        <ui-select-choices repeat="adminUser.id as adminUser in adminUsers | filter: $select.search" refresh-delay="0">
                                            <span ng-bind-html="adminUser.realname | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </span>
                            </div>

                            <div class="form-group">
                                <select class="form-control" ng-model="exchangeScoreSearchForm.grade" ng-options="grade.grade as grade.desc for grade in grades" refresh-enabled="Integer">
                                    <option value="">请选择-客户等级</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <select class="form-control" ng-model="exchangeScoreSearchForm.status" ng-options="o.value as o.name for o in availableStatus" refresh-enabled="Integer">
                                    <option value="">请选择-状态</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" ng-click="formSubmit();">&nbsp;&nbsp;搜&nbsp;&nbsp;索&nbsp;&nbsp;</button>
                                <button type="reset" class="btn btn-success" ng-click="initSearchForm();" >&nbsp;&nbsp;清&nbsp;&nbsp;空&nbsp;&nbsp;</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- 列表 -->
    <div class="row">
        <div class="col-lg-12 dataTable_wrapper table-responsive">
            <div class="panel panel-default">
                <table wt-responsive-table class="table table-striped  table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>商户ID</th>
                        <th>商户名称</th>
                        <th>发生日期</th>
                        <th>兑换描述</th>
                        <th>兑换数量</th>
                        <th>扣减积分</th>
                    </tr>
                    </thead>
                    <tbody>

                    <!--restaurantId: newVal[i].customer.restaurant[r].id,-->
                    <!--restaurantName: newVal[i].customer.restaurant[r].name,-->
                    <!--integral: newVal[i].integral,-->
                    <!--customerId: newVal[i].customer.id,-->
                    <!--oldScore:newVal[i]-->

                    <tr  ng-repeat="scoreLog in scoreLogsAfter" >
                        <td>{{scoreLog.restaurantId}}</td>
                        <td>{{scoreLog.restaurantName}}</td>
                        <td>{{scoreLog.createTime | date : "yyyy-MM-dd HH:mm:ss" }}</td>
                        <td>{{scoreLog.remark}}</td>
                        <td>{{scoreLog.count}}</td>
                        <td>{{scoreLog.integral}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 列表底部分页 -->
    <div class="row" align="center">
        <div calss="col-lg-12">
            <pagination total-items="page.totalItems" ng-model="page.currentPage" items-per-page="page.itemsPerPage" max-size="10" class="pagination" boundary-links="true" ng-change="pageChanged()" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页">
            </pagination>
        </div>
    </div>
</div>