<div>
    <div class="row">
        <div class="col-3 col-sm-3 col-lg-3">
            <div class="thumbnail">
                <div class="caption">
                    今日下单订单：
                        <a class="btn btn-success btn-lg" ng-click="viewTodayOrder()">{{todayOrderCount}}</a>
                </div>
            </div>
        </div>
        <div class="col-3 col-sm-3 col-lg-3">
            <div class="thumbnail">
                <div class="caption">
                    今日配送订单：
                        <a class="btn btn-success btn-lg" ng-click="viewTodayDeliverOrder()">{{todayDeliverOrderCount}}</a>
                </div>
            </div>
        </div>
        <div class="col-3 col-sm-3 col-lg-3">
            <div class="thumbnail">
                <div class="caption">
                    待审核商户数：
                        <a class="btn btn-success btn-lg" ng-click="viewUncheckedRestaurant()">{{uncheckedRestaurantCount}}</a>
                </div>
            </div>
        </div>
        <div class="col-3 col-sm-3 col-lg-3">
            <div class="thumbnail">
                <div class="caption">
                    待分配商户数：
                        <a class="btn btn-success btn-lg" ng-click="viewUnassignedRestaurant()">{{unassignedRestaurantCount}}</a>
                </div>
            </div>
        </div>
        <div class="col-3 col-sm-3 col-lg-3">
            <div class="thumbnail">
                <div class="caption">
                    今日重单提醒：
                    <a class="btn btn-success btn-lg" ui-sref="oam.alarmRestaurant({orderDate:today})">{{alarmRestaurantCount}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
