<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">新建工单</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form name="iForm" rol="form" class="form-inline" ng-submit="submit();">

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="咨询人" ng-model="formData.consultants"/>
                            </div>



                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="咨询人手机号" ng-model="formData.consultantsTelephone"/>
                            </div>

                            <div class="form-group">

                                <input type="text" class="form-control" name="id_{{$index}}"
                                       ng-model="formData.username"
                                       placeholder="餐馆登陆用户名"
                                       ng-blur="searchRestaurantByUsername(formData.username);" validate-null validate-integer
                                       validate-non-negative/>
                            </div>

                            <div class="form-group">

                                <input type="text" class="form-control" name="id_{{$index}}" ng-model="restaurant.id" placeholder="餐馆ID"
                                       ng-blur="searchRestaurant(restaurant);" validate-null validate-integer validate-non-negative/>
                            </div>

                            <div class="form-group">
                                <ui-select class="editable-input" ng-model="restaurant.id" theme="bootstrap"
                                           ng-click="resetCandidateRestaurants()"
                                           ng-change="searchRestaurant(restaurant);">
                                    <ui-select-match allow-clear placeholder="请输入-餐馆名称">{{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            refresh="funcAsyncRestaurant($select.search)"
                                            refresh-delay="0"
                                            repeat="candidateRestaurant.id as candidateRestaurant in candidateRestaurants | filter: $select.search">
                                        <span ng-bind-html="candidateRestaurant.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="餐馆联系人" ng-model="restaurant.receiver" />
                            </div>

                            <br/><br/>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="餐馆联系人电话" ng-model="restaurant.telephone" />
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="orderId" placeholder="关联订单ID" ng-model="formData.orderId"/>
                            </div>

                            <div class="form-group">
                                <ui-select ng-model="formData.followUpId" theme="bootstrap" reset-search-input="true" required
                                           ng-change="searchDai($select.selected);">
                                    <ui-select-match allow-clear placeholder="待跟进人">{{$select.selected.realname}}</ui-select-match>
                                    <ui-select-choices repeat="adminUser.id as adminUser in newAdminUsers | filter: $select.search" refresh-delay="0">
                                        <span ng-bind-html="adminUser.realname | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="待跟进人手机号" ng-model="formData.daiphone"/>
                            </div>

                            <div class="form-group">
                                <select class="form-control" ng-model="formData.problemSources" style="width: 195px"
                                        ng-options="problemSource.type as problemSource.name for problemSource in problemSources" validate-null>
                                    <option value="">请选择-问题来源</option>
                                </select>
                            </div>

                            <br/><br/>
                            <div class="form-group">
                                <select class="form-control" ng-model="formData.process" style="width: 195px" id="process"
                                        ng-options="process.type as process.name for process in processes"
                                        ng-change="processChange(formData.process)" validate-null >
                                    <option value="">请选择-问题类型</option>
                                </select>
                            </div>
                            <br/><br/>

                            <!--<div class="form-group" ng-if="formData.process==1">-->
                                <!--<div class="form-group">-->
                                    <!--<label>咨询类别</label><br/>-->
                                    <!--<select class="form-control" ng-model="$parent.formData.content.consultType" style="width: 195px"-->
                                            <!--ng-options="consultType.type as consultType.name for consultType in consultTypes" validate-null>-->
                                        <!--<option value="">请选择-咨询类别</option>-->
                                    <!--</select>-->
                                <!--</div>-->

                                <!--<div class="form-group">-->
                                    <!--<label>咨询处理结果<b color="red">必填</b></label><br/>-->
                                    <!--<select class="form-control" ng-model="$parent.formData.content.consultResult" style="width: 195px"-->
                                            <!--ng-options="consultResult.type as consultResult.name for consultResult in consultResults" validate-null>-->
                                        <!--<option value="">请选择-咨询处理结果</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<br/><br/>-->
                                <!--<div class="form-group">-->
                                    <!--<label>咨询流程备注</label><br/>-->
                                    <!--<textarea rows="10" style="width: 1000px" id="consultRemarks" class="form-control" ng-model="$parent.formData.content.consultRemarks" placeholder="咨询流程备注"></textarea>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="form-group" ng-if="formData.process==2">-->
                                <!--<div class="form-group">-->
                                    <!--<label>新品流程分类</label><br/>-->
                                    <!--<select id="newStype" class="form-control"-->
                                            <!--ng-options="newStype.type as newStype.name for newStype in newStypes"-->
                                            <!--ng-model="$parent.formData.content.newStype" style="width: 195px">-->
                                        <!--<option value="">请选择-新品流程分类</option>-->
                                    <!--</select>-->
                                <!--</div>-->

                                <!--<div class="form-group">-->
                                    <!--<label>新品流程状态</label><br/>-->
                                    <!--<select id="newType" class="form-control"-->
                                            <!--ng-options="newType.type as newType.name for newType in newTypes"-->
                                            <!--ng-model="$parent.formData.content.newType" style="width: 195px">-->
                                        <!--<option value="">请选择-新品流程状态</option>-->
                                    <!--</select>-->
                                <!--</div>-->

                                <!--<div class="form-group">-->
                                    <!--<label>市场有无货</label><br/>-->
                                    <!--<select id="newIsno" class="form-control"-->
                                            <!--ng-options="newIsno.type as newIsno.name for newIsno in newIsnos"-->
                                            <!--ng-model="$parent.formData.content.newIsno" style="width: 195px">-->
                                        <!--<option value="">请选择-市场有无货</option>-->
                                    <!--</select>-->
                                <!--</div>-->

                                <!--<div class="form-group">-->
                                    <!--<label>所属市场</label><br/>-->
                                    <!--<select id="newMarket" disabled name="newMarket" data-placeholder="所属市场" style="width: 195px;" class="form-control chosen-select-deselect" tabindex="-1">-->
                                        <!--<option value=""></option>-->
                                    <!--</select>-->
                                <!--</div>-->

                                <!--<div class="form-group">-->
                                    <!--<label>新品参考名称</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.newReName" id="newReName" class="form-control" placeholder="新品参考名称">-->
                                <!--</div>-->
                                <!--<br/><br/>-->
                                <!--<div class="form-group">-->
                                    <!--<label>参考价格</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.newRePrice" id="newRePrice" class="form-control" placeholder="参考价格">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>SKUID</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.newSkuid" id="newSkuid" class="form-control" placeholder="SKUID">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>产品名称</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.newProName" id="newProName" class="form-control" placeholder="产品名称">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>规格</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.newSpecifications" id="newSpecifications" class="form-control" placeholder="规格">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>分类</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.newClassification" id="newClassification" class="form-control" placeholder="分类">-->
                                <!--</div><br/><br/>-->
                                <!--<div class="form-group">-->
                                    <!--<label>建议售价</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.newRecommended" id="newRecommended" class="form-control" placeholder="建议售价">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>市场价</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.newMarketVal" id="newMarketVal" class="form-control" placeholder="市场价">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>供货商</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.newSupplier" id="newSupplier" class="form-control" placeholder="供货商">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>线上更改情况</label><br/>-->
                                    <!--<select id="newOnlineChange" class="form-control"-->
                                            <!--ng-options="newOnlineChange.type as newOnlineChange.name for newOnlineChange in newOnlineChanges"-->
                                            <!--ng-model="$parent.formData.content.newOnlineChange" style="width: 195px">-->
                                        <!--<option value="">请选择-线上更改情况</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>未更改原因</label><br/>-->
                                    <!--<select id="newNoChange" class="form-control"-->
                                            <!--ng-options="newNoChange.type as newNoChange.name for newNoChange in newNoChanges"-->
                                            <!--ng-model="$parent.formData.content.newNoChange" style="width: 195px">-->
                                        <!--<option value="">请选择-未更改原因</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<br/><br/>-->
                                <!--<div class="form-group">-->
                                    <!--<label>新品流程备注</label><br/>-->
                                    <!--<textarea rows="10" style="width: 1000px" ng-model="$parent.formData.content.newProcess" id="newProcess" class="form-control" placeholder="新品流程备注"></textarea>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="form-group" ng-if="formData.process==3">-->
                                <!--<div class="form-group">-->
                                    <!--<label>商户地址</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.cancelAddress" id="cancelAddress" class="form-control" placeholder="商户地址">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>销售员</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.cancelSalesperson" id="cancelSalesperson" class="form-control" placeholder="销售员">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>订单产品</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.cancelProduct" id="cancelProduct" class="form-control" placeholder="订单产品">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>订购数量</label><br/>-->
                                    <!--<input type="number" ng-model="$parent.formData.content.cancelQuantity" id="cancelQuantity" class="form-control" placeholder="订购数量">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>订单单价</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.cancelUnitPrice" id="cancelUnitPrice" class="form-control" placeholder="订单单价">-->
                                <!--</div>-->
                                <!--<br/><br/>-->
                                <!--<div class="form-group">-->
                                    <!--<label>退换数量</label><br/>-->
                                    <!--<input type="number" ng-model="$parent.formData.content.cancelNum" id="cancelNum" class="form-control" placeholder="退换数量">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>退款金额</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.cancelAmount" id="cancelAmount" class="form-control" placeholder="退款金额">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>送货车辆</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.cancelCar" id="cancelCar" class="form-control" placeholder="送货车辆">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>送货日期</label><br/>-->
                                    <!--<input type="date" ng-model="$parent.formData.content.DeliveryDate" id="DeliveryDate" class="form-control" placeholder="送货日期" style="width: 195px">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>退换原因</label><br/>-->
                                    <!--<select id="cancelReason" class="form-control" style="width: 195px"-->
                                            <!--ng-model="$parent.formData.content.cancelReason"-->
                                            <!--ng-options="cancelReason as cancelReason for cancelReason in ['商户订错货', '物流送错货', '质量问题']"-->
                                            <!--ng-init="$parent.formData.content.cancelReason='商户订错货'">-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<br/><br/>-->
                                <!--<div class="form-group">-->
                                    <!--<label>处理意见</label><br/>-->
                                    <!--<select id="cancelSuggestion" class="form-control" style="width: 195px"-->
                                            <!--ng-model="$parent.formData.content.cancelSuggestion"-->
                                            <!--ng-options="cancelSuggestion as cancelSuggestion for cancelSuggestion in ['同意退货', '不可以退货', '补差价不退货']"-->
                                            <!--ng-init="$parent.formData.content.cancelSuggestion='同意退货'">-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>计划退货时间</label><br/>-->
                                    <!--<input type="date" ng-model="$parent.formData.content.planDeliveryDate" id="planDeliveryDate" class="form-control" placeholder="计划退货时间" style="width: 195px">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>实际退货时间</label><br/>-->
                                    <!--<input type="date" ng-model="$parent.formData.content.ActualDeliveryDate" id="ActualDeliveryDate" class="form-control" placeholder="实际退货时间" style="width: 195px">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>退货状态</label><br/>-->
                                    <!--<select id="cancelType" class="form-control" style="width: 195px"-->
                                            <!--ng-model="$parent.formData.content.cancelType"-->
                                            <!--ng-options="cancelType as cancelType for cancelType in ['已记录', '已反馈给物流', '物流已确定退货时间','物流已退货','已回访','已完成']"-->
                                            <!--ng-init="$parent.formData.content.cancelType='已记录'">-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>已退货产品处理</label><br/>-->
                                    <!--<select id="cancelHandleType" class="form-control" style="width: 195px"-->
                                            <!--ng-model="$parent.formData.content.cancelHandleType"-->
                                            <!--ng-options="cancelHandleType as cancelHandleType for cancelHandleType in ['已退还供应商', '内部消耗处理', '其他']"-->
                                            <!--ng-init="$parent.formData.content.cancelHandleType='已退还供应商'">-->
                                    <!--</select>-->
                                <!--</div><br/><br/>-->
                                <!--<div class="form-group">-->
                                    <!--<label>已退货供应商处理</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.supplier" id="supplier" class="form-control" placeholder="已退货供应商处理">-->
                                <!--</div>-->
                                <!--<br/><br/>-->
                                <!--<div class="form-group">-->
                                    <!--<label>退换货备注</label><br/>-->
                                    <!--<textarea rows="10" style="width: 1000px" ng-model="$parent.formData.content.cancelRemarks" id="cancelRemarks" class="form-control" placeholder="退换货备注"></textarea>-->
                                <!--</div>-->
                                <!--<br/><br/>-->
                                <!--<div class="form-group">-->
                                    <!--<label>回访记录</label><br/>-->
                                    <!--<textarea rows="10" style="width: 1000px" ng-model="$parent.formData.content.visitRecord" id="visitRecord" class="form-control" placeholder="回访记录"></textarea>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="form-group" ng-if="formData.process==4">-->
                                <!--<div class="form-group">-->
                                    <!--<label>投诉类别</label><br/>-->
                                    <!--<select id="complainType" class="form-control" style="width: 195px"-->
                                            <!--ng-model="$parent.formData.content.complainType"-->
                                            <!--ng-options="complainType as complainType for complainType in ['投诉送货司机', '投诉销售人员', '投诉产品质量','投诉其他']"-->
                                            <!--ng-init="$parent.formData.content.complainType='投诉送货司机'">-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>投诉部门</label><br/>-->
                                    <!--<select id="complainDepartmentType" class="form-control" style="width: 195px"-->
                                            <!--ng-model="$parent.formData.content.complainDepartmentType"-->
                                            <!--ng-options="complainDepartmentType as complainDepartmentType for complainDepartmentType in ['销售部', '物流部', '采购部','其他部门']"-->
                                            <!--ng-init="$parent.formData.content.complainDepartmentType='销售部'">-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>投诉处理过程</label><br/>-->
                                    <!--<select id="complainProcess" class="form-control" style="width: 195px"-->
                                            <!--ng-model="$parent.formData.content.complainProcess"-->
                                            <!--ng-options="complainProcess as complainProcess for complainProcess in ['已安抚并记录', '已反馈到投诉部门','投诉部门已处理', '已回访投诉人','已完成']"-->
                                            <!--ng-init="$parent.formData.content.complainProcess='已安抚并记录'">-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<br/><br/>-->
                                <!--<div class="form-group">-->
                                    <!--<label>投诉事项</label><br/>-->
                                    <!--<textarea rows="10" style="width: 1000px" ng-model="$parent.formData.content.complains" id="complains" class="form-control" placeholder="投诉事项"></textarea>-->
                                <!--</div>-->
                                <!--<br/><br/>-->
                                <!--<div class="form-group">-->
                                    <!--<label>期望的处理方法</label><br/>-->
                                    <!--<textarea rows="10" style="width: 1000px" ng-model="$parent.formData.content.complainExpected" id="complainExpected" class="form-control" placeholder="期望的处理方法"></textarea>-->
                                <!--</div>-->
                                <!--<br/><br/>-->
                                <!--<div class="form-group">-->
                                    <!--<label>处理描述</label><br/>-->
                                    <!--<textarea rows="10" style="width: 1000px" ng-model="$parent.formData.content.complainDescription" id="complainDescription" class="form-control" placeholder="处理描述"></textarea>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="form-group" ng-if="formData.process==5">-->
                                <!--<div class="form-group">-->
                                    <!--<label>处理过程</label><br/>-->
                                    <!--<select id="checkProcess" class="form-control" style="width: 195px"-->
                                            <!--ng-model="$parent.formData.content.checkProcess"-->
                                            <!--ng-options="checkProcess as checkProcess for checkProcess in ['未联系成功客户或销售','已联系客户并取消','已联系客户并保留','已联系销售并取消','已联系销售并保留']"-->
                                            <!--ng-init="$parent.formData.content.checkProcess='未联系成功客户或销售'">-->
                                    <!--</select>-->
                                <!--</div><br/><br/>-->
                                <!--<div class="form-group">-->
                                    <!--<label>处理描述</label><br/>-->
                                    <!--<textarea rows="10" style="width: 1000px" ng-model="$parent.formData.content.checkDescription" id="checkDescription" class="form-control" placeholder="处理描述"></textarea>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="form-group" ng-if="formData.process==6">-->
                                <!--<div class="form-group">-->
                                    <!--<label>未分车原因</label><br/>-->
                                    <!--<select id="noCarReason" class="form-control" style="width: 195px"-->
                                            <!--ng-model="$parent.formData.content.noCarReason"-->
                                            <!--ng-options="noCarReason as noCarReason for noCarReason in ['客户地标不准确','客户区域不准确','客户其他信息不完整','分车人员操作失误']"-->
                                            <!--ng-init="$parent.formData.content.noCarReason='客户地标不准确'">-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>未分单处理过程描述</label><br/>-->
                                    <!--<select id="noCarType" class="form-control" style="width: 195px"-->
                                            <!--ng-model="$parent.formData.content.noCarType"-->
                                            <!--ng-options="noCarType as noCarType for noCarType in ['已联系物流送货','已通知客户取消订单','待处理']"-->
                                            <!--ng-init="$parent.formData.content.noCarType='已联系物流送货'">-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>处理描述</label><br/>-->
                                    <!--<textarea rows="10" style="width: 1000px" ng-model="$parent.formData.content.noCarDescription" id="noCarDescription" class="form-control" placeholder="处理描述"></textarea>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="form-group" ng-if="formData.process==7">-->
                                <!--<div class="form-group">-->
                                    <!--<label>下单时间</label><br/>-->
                                    <!--<input type="date" ng-model="$parent.formData.content.visitSingleTime" id="visitSingleTime" class="form-control"  style="width: 175px" placeholder="下单时间">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>退货原因</label><br/>-->
                                    <!--<select id="visitCname" class="form-control" style="width: 215px"-->
                                            <!--ng-model="$parent.formData.content.visitCname"-->
                                            <!--ng-options="visitCname as visitCname for visitCname in-->
                                            <!--['公司原因－产品质量问题','公司原因－非客户下订单','公司原因－非客户想要商品',-->
                                            <!--'公司原因－客户信息不准确','公司原因－送货延迟','客户原因－闭店','客户原因－倒货',-->
                                            <!--'客户原因－订单重复','客户原因－订多订错','客户原因－活动、赠品','客户原因－价格贵',-->
                                            <!--'客户原因－其他','客户原因－无人签收','客户原因－直接拒绝']"-->
                                            <!--ng-init="$parent.formData.content.visitCname='公司原因－产品质量问题'">-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>司机名称</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.visitDriverName" id="visitDriverName" class="form-control" placeholder="司机名称">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>商品质量</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.visitQuality" id="visitQuality" class="form-control" placeholder="商品质量">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>送货速度</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.visitSpeed" id="visitSpeed" class="form-control" placeholder="送货速度">-->
                                <!--</div>-->
                                <!--<br/><br/>-->
                                <!--<div class="form-group">-->
                                    <!--<label>订单评价处理描述</label><br/>-->
                                    <!--<input type="text" ng-model="$parent.formData.content.visitDescription" id="visitDescription" class="form-control" placeholder="订单评价处理描述">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>订单评价处理过程</label><br/>-->
                                    <!--<select id="visitProcess" class="form-control" style="width: 195px"-->
                                            <!--ng-model="$parent.formData.content.visitProcess"-->
                                            <!--ng-options="visitProcess as visitProcess for visitProcess in ['未接通','停机、错号等无法接通','客户满意已回访并记录','客户不满意已回访并反馈']"-->
                                            <!--ng-init="$parent.formData.content.visitProcess='未接通'">-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<br/><br/>-->
                                <!--<div class="form-group">-->
                                    <!--<label>配送评价</label><br/>-->
                                    <!--<textarea rows="10" style="width: 1000px" ng-model="$parent.formData.content.visitEvaluation" id="visitEvaluation" class="form-control" placeholder="配送评价"></textarea>-->
                                <!--</div>-->
                                <!--<br/><br/>-->
                                <!--<div class="form-group">-->
                                    <!--<label>其他信息</label><br/>-->
                                    <!--<textarea rows="10" style="width: 1000px" ng-model="$parent.formData.content.visitOtherInfo" id="visitOtherInfo" class="form-control" placeholder="其他信息"></textarea>-->
                                <!--</div>-->

                            <!--</div>-->

                            <!--<div class="form-group" ng-if="formData.process==8">-->
                                <!--<div class="form-group">-->
                                    <!--<label>下订单方式</label><br/>-->
                                    <!--<select id="fvType" class="form-control" style="width: 195px"-->
                                            <!--ng-model="$parent.formData.content.fvType"-->
                                            <!--ng-options="fvType as fvType for fvType in ['APP','微信','销售代下订单','PC','其他']"-->
                                            <!--ng-init="$parent.formData.content.fvType='APP'">-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>原来采购方式</label><br/>-->
                                    <!--<select id="purchaseType" class="form-control" style="width: 195px"-->
                                            <!--ng-model="$parent.formData.content.purchaseType"-->
                                            <!--ng-options="purchaseType as purchaseType for purchaseType in ['市场自行采购','其他供应商送货','多种方式采购']"-->
                                            <!--ng-init="$parent.formData.content.purchaseType='市场自行采购'">-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>信息通知</label><br/>-->
                                    <!--<select id="fvInfo" class="form-control" style="width: 195px"-->
                                            <!--ng-model="$parent.formData.content.fvInfo"-->
                                            <!--ng-options="fvInfo as fvInfo for fvInfo in ['已完成','部分完成','未完成']"-->
                                            <!--ng-init="$parent.formData.content.fvInfo='已完成'">-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>对产品质量评价</label><br/>-->
                                    <!--<select id="fvEvaluation" class="form-control" style="width: 195px"-->
                                            <!--ng-model="$parent.formData.content.fvEvaluation"-->
                                            <!--ng-options="fvEvaluation as fvEvaluation for fvEvaluation in ['5','4','3','2','1']"-->
                                            <!--ng-init="$parent.formData.content.fvEvaluation='5'">-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>对地推员工评价</label><br/>-->
                                    <!--<select id="staffEvaluation" class="form-control" style="width: 195px"-->
                                            <!--ng-model="$parent.formData.content.staffEvaluation"-->
                                            <!--ng-options="staffEvaluation as staffEvaluation for staffEvaluation in ['5','4','3','2','1']"-->
                                            <!--ng-init="$parent.formData.content.staffEvaluation='5'">-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<br/><br/>-->
                                <!--<div class="form-group">-->
                                    <!--<label>对送货司机的评价</label><br/>-->
                                    <!--<select id="driverEvaluation" class="form-control" style="width: 195px"-->
                                            <!--ng-model="$parent.formData.content.driverEvaluation"-->
                                            <!--ng-options="driverEvaluation as driverEvaluation for driverEvaluation in ['5','4','3','2','1']"-->
                                            <!--ng-init="$parent.formData.content.driverEvaluation='5'">-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<br/><br/>-->
                                <!--<div class="form-group">-->
                                    <!--<label>其他意见和建议</label><br/>-->
                                    <!--<textarea rows="10" style="width: 1000px" name="fvComments" id="fvComments" class="form-control" placeholder="其他意见和建议"></textarea>-->
                                <!--</div>-->
                                <!--<br/><br/>-->
                                <!--<div class="form-group">-->
                                    <!--<label>回访备注</label><br/>-->
                                    <!--<textarea rows="10" style="width: 1000px" name="fvRemarks" id="fvRemarks" class="form-control" placeholder="回访备注"></textarea>-->
                                <!--</div>-->
                            <!--</div>-->

                            <div>
                                <div ui-view=""/>
                            </div>
                            <br/><br/>

                            <input type="file" name="attachment" id="inputAttachment" accept="image/*" >

                            <br/>
                            <div class="form-group">
                                <button type="submit"  class="btn btn-primary">&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;</button>
                            </div>

                            <div class="form-group">
                                <button type="button"  class="btn btn-primary" ng-click="">&nbsp;&nbsp;回到工单列表&nbsp;&nbsp;</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
