<div class="container-fluid ng-scope">
    <div class="row" novalidate>

        <form name="addCallerForm" rol="form" novalidate>

            <div class="form-group" ng-class="{'has-error':addCallerForm.phone.$invalid && !addCallerForm.phone.$pristine}">
                <label><font color="red">*</font>电话:</label>
                <input type="text" class="form-control" name="phone" ng-model="addCallerFormData.phone" ng-maxlength="20" required>
                <p ng-show="addCallerForm.phone.$invalid && !addCallerForm.phone.$pristine" class="help-block">电话为必填项,最多20位</p>
            </div>
            <div class="form-group" ng-class="{'has-error':addCallerForm.name.$invalid && !addCallerForm.name.$pristine}">
                <label><font color="red"></font>客户名称:</label>
                <input type="text" class="form-control" name="telephone" ng-model="addCallerFormData.name" ng-maxlength="50" required>
                <p ng-show="addCallerForm.telephone.$error.maxlength" class="help-block">长度最多50位</p>
            </div>

            <button type="button" class="btn btn-primary" ng-click="add()" ng-disabled="addCallerForm.$invalid" >&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;</button>
            <button type="button" onclick="history.go(-1);" class="btn btn-info">&nbsp;&nbsp;返&nbsp;&nbsp;回&nbsp;&nbsp;</button>
        </form>
    </div>
</div>