<div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">商块列表</h2>
        </div>
    </div>

    <!-- 订单-查询条件表单 -->
    <div class="row">
        <div class="col-lg-12">
            <form rol="form" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="商块Id" ng-model="blockListSearchForm.blockId">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="商块名称" ng-model="blockListSearchForm.blockName">
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="blockListSearchForm.cityId" ng-options="o.id as o.name for o in availableCities">
                        <option value="">请选择-城市</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="blockListSearchForm.warehouseId" ng-options="o.id as o.name for o in availableWarehouses">
                        <option value="">请选择-市场</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="blockListSearchForm.status" ng-options="o.v as o.n for o in [{n:'全部',v:0},{ n: '启用', v: 1}, { n: '禁用', v: 2 }]" required>
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-click="resetPageAndSearchBlockList()">&nbsp;&nbsp;搜&nbsp;&nbsp;索&nbsp;&nbsp;</button>
                    <button type="button" class="btn btn-info" ui-sref="oam.block-detail">&nbsp;&nbsp;新&nbsp;&nbsp;增&nbsp;&nbsp;</button>

                </div>
            </form>
        </div>
    </div>
    <br>

    <!-- 订单列表 -->
    <div class="row">
        <div class="col-lg-12 dataTable_wrapper table-responsive">
            <div class="panel panel-default">
                <table class="table table-striped  table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>商块ID</th>
                        <th>商块名称</th>
                        <th>状态</th>
                        <th>市场</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="block in blocks">
                        <td>
                            {{block.id}}
                        </td>
                        <td>{{block.name}}</td>
                        <td>
                            <span ng-if="block.active == true">启用中</span>
                            <span ng-if="block.active == false">禁用中</span>
                        </td>
                        <td>
                            <span editable-select="block.warehouse.id" e-name="warehouseId" e-form="rowform" e-ng-options="g.id as g.name for g in availableWarehouses">{{block.warehouse.name}}</span>
                        </td>
                        <td style="white-space: nowrap">
                            <!--<form editable-form name="rowform" onbeforesave="editSaveBlock($data,block)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == block">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-xs btn-success">保存</button>
                                <button type="button" ng-disabled="rowform.$waiting" class="btn btn-xs btn-warning" ng-click="rowform.$cancel()">取消</button>
                            </form>-->
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-xs btn-primary" ng-click="rowform.$show()" ui-sref="oam.block-detail({id:block.id})">编辑详情</button>
                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 列表底部分页 -->
    <div class="row" align="center">
        <div calss="col-lg-12">
            <pagination total-items="page.totalBlocks" ng-model="page.currentPage" items-per-page="page.blocksPerPage" max-size="10" class="pagination" boundary-links="true" ng-change="pageChanged()" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页">
            </pagination>
        </div>
    </div>
</div>