<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header" ng-if="!isEdit">添加店铺</h2>
			<h2 class="page-header" ng-if="isEdit">编辑店铺</h2>
		</div>
	</div>
	
	<div class="row"> 
		<div class="col-lg-5">
			<form name="adminForm">
				<div class="form-group" ng-class="{'has-error':adminForm.name.$invalid && !adminForm.name.$pristine}">
					<label><font color="red">*</font>店铺名称：</label>
 					<input type="text" class="form-control" placeholder="请输入店铺名" name="name" ng-model="formData.name" required>
 					<p ng-show="adminForm.name.$invalid && !adminForm.name.$pristine" class="help-block">请输入用户名。</p>
				</div>

				<div class="form-group" ng-class="{'has-error':adminForm.telephone.$invalid && !adminForm.telephone.$pristine}">
					<label><font color="red">*</font>手机号：</label>
 					<input type="text" class="form-control" placeholder="请输入手机号(11位号码)" name="telephone" ng-model="formData.telephone" ng-minlength="11" ng-maxlength="11" required>
 					<p ng-show="adminForm.telephone.$error.required && !adminForm.telephone.$pristine" class="help-block">请输入手机号(11位号码)。</p>
					<p ng-show="adminForm.telephone.$error.minlength" class="help-block">您输入的手机号少于11位。</p>
					<p ng-show="adminForm.telephone.$error.maxlength" class="help-block">您输入的手机号多于11位。</p>
				</div>


				<!--<div class="form-group">
					<label>销售：</label>
					<ui-select ng-model="formData.serviceAdminId" theme="bootstrap" reset-search-input="true">
						<ui-select-match allow-clear placeholder="请选择-销售">{{$select.selected.realname}}</ui-select-match>
						<ui-select-choices repeat="adminUser.id as adminUser in adminUsers | filter: $select.search" refresh-delay="0">
							<span ng-bind-html="adminUser.realname | highlight: $select.search"></span>
						</ui-select-choices>
					</ui-select>
				</div>-->

				<!--<div class="form-group">
					<label>产品分类：</label><br>
					<div js-tree="treeConfig" ng-model="treeData" should-apply="ignoreModelChanges()" tree="treeInstance" tree-events="ready:readyCB;create_node:createNodeCB"></div>
				</div>-->

				<div class="form-group">
					<label>区块信息：</label><br>
					<div js-tree="treeConfig" ng-model="cityBlockData" should-apply="ignoreModelChanges()" tree="cityWarehouseBlockInstance" tree-events="ready:readyCB;create_node:createNodeCB"></div>
				</div>

				<!--<div class="form-group">
					<label>城市：</label><br>
					<ui-select ng-model="formData.cityId" theme="bootstrap" required>
						<ui-select-match allow-clear placeholder="请选择-城市">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="city.id as city in cities | filter: $select.search" refresh-delay="0">
							<span ng-bind-html="city.name | highlight: $select.search"></span>
						</ui-select-choices>
					</ui-select>
				</div>

				<div class="form-group">
					<label>市场/地区权限：</label>
					&lt;!&ndash;<div class="alert alert-warning" role="alert">...</div>&ndash;&gt;
					<div ng-repeat="warehouse in warehouses">
						<div class="alert alert-info" role="alert">
							<h5>{{warehouse.displayName}}</h5>
							<a class="btn btn-xs btn-success" ng-click="checkAll(warehouse)">全选 / 反选</a><br>
							<span ng-repeat="block in warehouse.blocks">
								<label class="checkbox-inline">
									<input type="checkbox" checklist-model="formData.blockIds" checklist-value="block.id">{{block.displayName}}
								</label>
							</span>
						</div>
					</div>
				</div>-->

                <div class="form-group">
					<label><font color="red">*</font>是否启用：</label>
					<select class="form-control" ng-model="formData.enable" ng-options="o.v as o.n for o in [{ n: '启用', v: true }, { n: '禁用', v: false }]" required>
					</select>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary" ng-click="createOrganization()" ng-disabled="adminForm.$invalid">&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;</button>
					<button type="button" class="btn btn-info" ng-hide="isEdit" ng-click="resetAdminForm()">&nbsp;&nbsp;重&nbsp;&nbsp;置&nbsp;&nbsp;</button>
					<button type="button" class="btn btn-info" ng-show="isEdit" ui-sref="oam.organization-list">&nbsp;&nbsp;返&nbsp;&nbsp;回&nbsp;&nbsp;</button>
				</div>
			</form>
		</div>
	</div>
</div>