<div class="container-fluid">
	<!-- 页面标题 -->
	<div class="row">
		<div class="col-lg-12"> 
			<h2 class="page-header">{{isEdit ? '编辑邮件设置' : '添加邮件设置'}}</h2>
		</div>
	</div>

	<!-- 添加页面 -->
	<div class="row"> 
		<div class="col-lg-5">
			<form name="form" rol="form" novalidate>
				<div class="form-group">
					<label><font color="red">*</font>城市:</label>
					<select class="form-control" ng-model="systemEmail.cityId" ng-options="city.id as city.name for city in cities" required>
						<option value="">请选择-城市</option>
					</select>
				</div>
                <div class="form-group">
                    <label><font color="red">*</font>类型:</label>
                    <select class="form-control" ng-model="systemEmail.type" ng-options="t.value as t.name for t in type" required>
                        <option value="">请选择-类型</option>
                    </select>
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>描述:</label>
                    <input type="text" class="form-control" ng-model="systemEmail.name"  required>
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>收件人Email:</label>
                    <input type="text" class="form-control" ng-model="systemEmail.sendTo"  required>
                </div>
                <div class="form-group">
                    <label>抄送人Email:</label>
                    <input type="text" class="form-control" ng-model="systemEmail.sendCc" >
                </div>
				<div class="form-group">
					<button type="button" class="btn btn-primary" ng-click="createSystemEmail()" ng-disabled="form.$invalid || submitting">&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;</button>
					<button type="button" back class="btn btn-info">&nbsp;&nbsp;返&nbsp;&nbsp;回&nbsp;&nbsp;</button>
				</div>
			</form>
		</div>
	</div>
    <loader class="maskLayer"></loader>
</div>