<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header" ng-if="!isEdit">添加市场</h2>
			<h2 class="page-header" ng-if="isEdit">编辑市场</h2>
		</div>
	</div>
	
	<div class="row"> 
		<div class="col-lg-5">
			<form name="adminForm">
				<div class="form-group">
					<select class="form-control" ng-model="warehouse.cityId" ng-disabled="isEdit" ng-options="o.id as o.name for o in cities">
						<option value="">请选择-城市</option>
					</select>
				</div>
				<div class="form-group" ng-class="{'has-error':adminForm.name.$invalid && !adminForm.name.$pristine}">
					<label><font color="red">*</font>市场名称：</label>
 					<input type="text" class="form-control" placeholder="请输入市场名" name="name" ng-model="warehouse.name" required>
 					<p ng-show="adminForm.name.$invalid && !adminForm.name.$pristine" class="help-block">请输入市场名称</p>
				</div>
				<div class="form-group">
					<label><font color="red">*</font>仓库：</label>
					<select class="form-control" ng-model="warehouse.depotId" ng-options="o.id as o.name for o in depot">
						<option value="">请选择-城市</option>
					</select>
				</div>
				<div class="form-group">
					<label><font color="red">*</font>状态：</label>
					<select class="form-control" ng-model="warehouse.active" ng-options="o.value as o.name for o in [{value:true, name:'可用'},{value:false, name:'禁用'}]">
						<option value="">请选择-状态</option>
					</select>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary" ng-click="createCity()" ng-disabled="adminForm.$invalid">&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;</button>
					<button type="reset" class="btn btn-info" ng-hide="isEdit">&nbsp;&nbsp;重&nbsp;&nbsp;置&nbsp;&nbsp;</button>
					<button type="button" class="btn btn-info" ng-show="isEdit" ui-sref="oam.warehouse-list">&nbsp;&nbsp;返&nbsp;&nbsp;回&nbsp;&nbsp;</button>
				</div>
			</form>
		</div>
	</div>
</div>