<div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">商品管理</h2>
        </div>
    </div>

    <!-- 商品管理-查询条件表单 -->
    <div class="row"> 
        <div class="col-lg-12">
            <form rol="form" class="form-inline">
                <!--<div class="form-group">
                    <select class="form-control" ng-model="productSearchForm.cityId" ng-options="city.id as city.name for city in cities">
                        <option value="">请选择-城市</option>
                    </select>
                </div>-->
                <div class="form-group">
                    <select class="form-control" ng-model="productSearchForm.organizationId" ng-options="o.id as o.name for o in organizations">
                        <option value="">请选择-店面</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="商品ID" ng-model="productSearchForm.productId">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="SKU_ID" ng-model="productSearchForm.skuId">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="商品名称" ng-model="productSearchForm.productName">
                </div>
                <div class="form-group form-inline-with-uiselect-min">
                    <ui-select ng-model="productSearchForm.brandId" theme="bootstrap" reset-search-input="true">
                        <ui-select-match allow-clear placeholder="请选择-品牌">{{$select.selected.brandName}}</ui-select-match>
                        <ui-select-choices repeat="brand.id as brand in brands | filter: $select.search" refresh-delay="0">
                            <span ng-bind-html="brand.brandName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group form-inline-with-uiselect">
                    <ui-select ng-model="productSearchForm.categoryId" theme="bootstrap" reset-search-input="true">
                    <ui-select-match allow-clear placeholder="请选择-分类">{{$select.selected.hierarchyName}}</ui-select-match>
                    <ui-select-choices repeat="category.id as category in categories | filter: $select.search" refresh-delay="0">
                        <span ng-bind-html="category.hierarchyName | highlight: $select.search"></span>
                    </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="productSearchForm.status" ng-options="o.value as o.name for o in status">
                        <option value="">请选择-状态</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="resetPageAndSearchProduct()">&nbsp;&nbsp;搜&nbsp;&nbsp;索&nbsp;&nbsp;</button>
                <button type="button" ui-sref="oam.product-detail" class="btn btn-info">&nbsp;&nbsp;添&nbsp;&nbsp;加&nbsp;&nbsp;</button>
				<button class="btn btn-success" ng-file-select ng-disabled="!productSearchForm.organizationId" ng-model="excelMedia" ng-multiple="false">导入excel</button>
				<button class="btn btn-success" ng-file-select ng-disabled="!productSearchForm.organizationId" ng-model="photoMediaName" ng-multiple="false">导入图片(名称)</button>
                <button class="btn btn-success" ng-file-select ng-disabled="!productSearchForm.organizationId" ng-model="photoMediaId" ng-multiple="false">导入图片（id）</button>
            </form>
        </div>
    </div>
    <br>

    <!-- 商品列表 -->
    <div class="row">
        <div class="col-lg-12 dataTable_wrapper table-responsive">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>
                        商品数量共计：<span class="text text-info">{{page.totalItems}}</span>
                    </strong>
                </div>
                <table class="table table-striped  table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>商品ID</th>
                            <th>SKU_ID</th>
                            <th>名称</th>
                            <th>类别</th>
                            <th>转化率</th>
                            <th>单品单位</th>
                            <th>打包单位</th>
                            <th>税率</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="sku in skus">
                            <td>{{sku.productId}}</td>
                            <td>{{sku.id}}</td>
                            <td>
                                {{sku.name}}
                            </td>
                            <td>{{sku.category.hierarchyName}}</td>
                            <td ng-if="edit">
                                <input class="editable-input" type="text" name="capacityInBundle_{{$index}}" ng-model="sku.capacityInBundle"/>
                            </td>
                            <td ng-if="!edit">
                                {{sku.capacityInBundle}}
                            </td>
                            <td>{{sku.singleUnit}}</td>
                            <td>{{sku.bundleUnit}}</td>
                            <td>
                                {{sku.rate}}
                            </td>
                            <td>
                                {{sku.status.name}}
                            </td>
                            <td style="white-space: nowrap">
                                <div class="buttons">
                                    <button class="btn btn-xs btn-primary" ng-show="!edit && hasPermission('sku-updateCapacityInBundle-tool')" ng-click="edit=true">转化率</button>
                                    <button class="btn btn-xs btn-success" ng-show="edit" ng-click="updateCapacityInBundle(sku);edit=false">保存</button>
                                    <button class="btn btn-xs btn-warning" ng-show="edit" ng-click="edit=false">取消</button>
                                    <a class="btn btn-xs btn-primary" ui-sref="oam.product-detail({id:sku.productId})">编辑详情</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!-- 列表底部分页 -->
    <div class="row" align="center">
        <div calss="col-lg-12">
            <pagination total-items="page.totalItems" ng-model="page.currentPage" items-per-page="page.itemsPerPage" max-size="10" class="pagination" boundary-links="true" ng-change="pageChanged()" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页"></pagination>
        </div>
    </div>
</div>
    