<div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">优惠城市</h2>
        </div>
    </div>

    <!-- 添加商品表单 -->
    <div class="row">
        <div class="col-lg-5">
            <form rol="form" name="addProductsForm">
                <div class="form-group" ng-class="{'has-error':addProductsForm.name.$invalid && !addProductsForm.name.$pristine}">
                    <label><font color="red">*</font>商品名称:</label>
                    <input class="form-control" ng-model="formData.name" name="name" disabled>
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>商品分类:</label>
                    <input class="form-control" ng-model="formData.categoryName" name="categoryName" disabled>
                </div>

                <div class="form-group">
                    <label><font color="red">*</font>状态:</label>
                    <input class="form-control" ng-model="formData.skuRequest.status" name="statusName" disabled>
                </div>

                <div class="form-group">
                    <label>特价城市</label><br>
                    <span ng-repeat="city in cities">
						<label class="checkbox-inline">
                            <input type="checkbox" checklist-model="formData.cityIds" checklist-value="city.id">{{city.name}}
                        </label>
					</span>
                </div>

                <div class="form-group">
                    <label>限购数量(客户):</label>
                    <input class="form-control" ng-model="formData.limitedQuantity" name="limitedQuantityName">
                </div>

                <div class="form-group">
                    <label>限购城市</label><br>
                    <span ng-repeat="city in cities">
						<label class="checkbox-inline">
                            <input type="checkbox" checklist-model="formData.limitedCityIds" checklist-value="city.id">{{city.name}}
                        </label>
					</span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-click="saveProduct()" ng-disabled="addProductsForm.$invalid">&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;</button>
                    <button type="button" back class="btn btn-info">&nbsp;&nbsp;返&nbsp;&nbsp;回&nbsp;&nbsp;</button>
                </div>
            </form>
        </div>
    </div>
</div>