<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">订单录入</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form name="iForm" rol="form" class="form-inline">
                            <div class="form-group">
                                <select class="form-control" name="cityId" ng-model="searchForm.cityId"
                                        ng-options="city.id as city.name for city in cities" validate-null>
                                    <option value="">请选择-城市</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="id_{{$index}}"
                                       ng-model="restaurant.id"
                                       placeholder="餐馆ID"
                                       ng-blur="searchRestaurant(restaurant);" validate-null validate-integer
                                       validate-non-negative/>
                            </div>

                            <div class="form-group">
                                <ui-select class="editable-input" ng-model="restaurant.id" theme="bootstrap"
                                           ng-click="resetCandidateRestaurants()"
                                           ng-change="searchRestaurant(restaurant);">
                                    <ui-select-match allow-clear placeholder="请输入-餐馆名称">{{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices refresh="funcAsyncRestaurant($select.search)"
                                                       refresh-delay="0"
                                                       repeat="candidateRestaurant.id as candidateRestaurant in candidateRestaurants | filter: $select.search">
                                        <span ng-bind-html="candidateRestaurant.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="address" placeholder="收货地址"
                                       ng-model="restaurant.address.address"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="receiver" placeholder="联系人"
                                       ng-model="restaurant.receiver"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="telephone" placeholder="联系电话"
                                       ng-model="restaurant.telephone"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="remark" placeholder="订单备注"
                                       ng-model="restaurant.remark"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="adminUser" placeholder="销售员"
                                       ng-model="restaurant.customer.adminUser.realname"/>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="typeId" ng-change="changeInput(searchForm.type)" ng-model="searchForm.type"

                                        ng-options="type.val as type.desc for type in types" validate-null>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>






    <div class="row">
        <div class="col-lg-12 dataTable_wrapper table-responsive">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>总金额：<span class="text text-info">{{orderTotalPrice}}</span></strong>
                </div>
                <form name="tableform">
                    <table class="table table-bordered table-hover table-condensed">
                        <tr>
                            <th style="width:6%">sku</th>
                            <th style="width:15%">名称</th>
                            <th style="width:7%">销售数量</th>
                            <th style="width:3%">单位</th>
                            <th style="width:3%">转换率</th>
                            <th style="width:7%">打包数量</th>
                            <th style="width:4%">打包单位</th>
                            <th style="width:7%">单品价</th>
                            <th style="width:7%">打包价</th>
                            <th style="width:8%">总价</th>
                            <th style="width:4%">操作</th>
                        </tr>
                        <tr ng-repeat="orderItem in orderItems">
                            <td>
                                <input class="editable-input" type="text" name="skuId_{{$index}}" ng-model="orderItem.skuId" ng-blur="searchSku(orderItem);" validate-null validate-number/>
                            </td>

                            <td>
                                <div>
                                    <ui-select class="editable-input" ng-model="orderItem.skuId" theme="bootstrap" ng-click="resetcandidateDynamicPrices()" ng-change="searchSku(orderItem);">
                                        <ui-select-match allow-clear placeholder="请输入">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices refresh="funcAsync($select.search)" refresh-delay="0" repeat="candidateDynamicPrice.id as candidateDynamicPrice in candidateDynamicPrices | filter: $select.search">
                                            <span ng-bind-html="candidateDynamicPrice.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </td>
                            <td ng-show="!singleEdit">
                                {{orderItem.quantity}}
                            </td>
                            <td ng-show="singleEdit">
                                <input class="editable-input" type="text" name="quantity_{{$index}}" ng-change="totalQuantity(orderItem)" ng-model="orderItem.quantity" ng-blur="savePurchaseQuantity(orderItem);" validate-null validate-number validate-positive/>
                            </td>
                            <td>
                                {{ orderItem.singleUnit }}
                            </td>
                            <td>{{orderItem.capacityInBundle}}</td>
                            <td ng-show="!bundleEdit">
                                {{orderItem.bundleQuantity}}
                            </td>
                            <td ng-show="bundleEdit">
                                <input class="editable-input" type="text" name="price_{{$index}}" ng-change="totalBundleQuantity(orderItem)" ng-model="orderItem.bundleQuantity" ng-blur="savePurchasePrice(orderItem);" validate-null validate-number validate-positive/>
                            </td>
                            <td>
                                {{ orderItem.bundleUnit }}
                            </td>
                            <td>{{orderItem.singleSalePrice}}</td>
                            <td>{{orderItem.bundleSalePrice}}</td>
                            <!--<td ng-show="!e">-->
                                <!--<input class="editable-input" type="text" name="price_{{$index}}" ng-model="orderItem.singleSalePrice"  validate-null validate-number validate-positive/>-->
                            <!--</td>-->
                            <!--<td ng-show="!e">-->
                                <!--<input class="editable-input" type="text" name="bundlePrice_{{$index}}" ng-model="orderItem.bundleSalePrice"  validate-null validate-number validate-positive/>-->
                            <!--</td>-->
                            <td>
                                {{ orderItem.totalPrice }}
                            </td>
                            <td><button type="button" ng-click="remove($index)" class="btn btn-danger pull-right">删除</button></td>
                        </tr>
                    </table>

                    <button type="button" ng-disabled="iForm.$invalid" ng-click="addItem()" class="btn btn-default">添加一行</button>


                    <div class="form-group">
                        <button ng-disabled="iForm.$invalid || orderItems.length==0 " ng-click="createOrder()" type="submit" class="btn btn-primary">&nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;</button>
                        <button type="button" back class="btn btn-default">&nbsp;&nbsp;返&nbsp;&nbsp;回&nbsp;&nbsp;</button>
                    </div>
                </form>
            </div>
        </div>
    </div>










    <loader class="maskLayer"></loader>
</div>
