    <div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">订单列表</h2>
        </div>
    </div>

    <!-- 订单-查询条件表单 -->
    <div class="row"> 
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           data-target="#collapseTwo">
                            点击展开查询
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form rol="form" class="form-inline">
                            <div class="form-group">
                                <select class="form-control" ng-model="orderListSearchForm.cityId" ng-options="c.id as c.name for c in cities" refresh-enabled="Integer">
                                    <option value="">请选择-城市</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="orderListSearchForm.warehouseId" ng-options="o.id as o.name for o in availableWarehouses" refresh-enabled="Integer">
                                    <option value="">请选择-市场</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="orderListSearchForm.organizationId" ng-options="o.id as o.name for o in organizations" refresh-enabled="Integer">
                                    <option value="">请选择-店面</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <!--<input type="text" class="form-control" datepicker-append-to-body="true" placeholder="起始时间" datetime-picker="{{dateOptions.dateFormat}}" ng-model="orderListSearchForm.start" is-open="isOpen" datepicker-options="dateOptions" timepicker-Options="timeOptions" today-text="今日" now-text="现在" clear-text="清除" date-text="日期" time-text="时间" close-text="关闭" ng-click="openCalendar($event)" refresh-enabled="Date" date-for-search/>-->
                                <input type="text" class="form-control" placeholder="起始时间" datepicker-popup="{{dateOptions.dateFormat}}" ng-model="orderListSearchForm.start" is-open="openedStart" datepicker-options="dateOptions" current-text="今日" clear-text="清除" close-text="关闭" ng-click="openedStart=true" refresh-enabled="Date" date-for-search/>
                            </div>
                            <div class="form-group">
                                <!--<input type="text" class="form-control" datepicker-append-to-body="true" placeholder="结束时间" datetime-picker="{{dateOptions.dateFormat}}" ng-model="orderListSearchForm.end" is-open="isOpen1" datepicker-options="dateOptions" timepicker-Options="timeOptions" today-text="今日" now-text="现在" clear-text="清除" date-text="日期" time-text="时间" close-text="关闭" ng-click="openCalendar1($event)" refresh-enabled="Date" date-for-search/>-->
                                <input type="text" class="form-control" placeholder="结束时间" datepicker-popup="{{dateOptions.dateFormat}}" ng-model="orderListSearchForm.end" is-open="openedEnd" datepicker-options="dateOptions" current-text="今日" clear-text="清除" close-text="关闭" ng-click="openedEnd=true" refresh-enabled="Date" date-for-search/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="订单ID" ng-model="orderListSearchForm.orderId" refresh-enabled="Integer">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="餐馆ID" ng-model="orderListSearchForm.restaurantId" refresh-enabled="Integer">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="餐馆名称" ng-model="orderListSearchForm.restaurantName" refresh-enabled="String">
                            </div>

                            <div class="form-group" ng-if="orderListSearchForm.spikeItemId!=null">
                                <input type="text" class="form-control" placeholder="秒杀商品项Id" ng-model="orderListSearchForm.spikeItemId" refresh-enabled="Integer">
                            </div>
                            <div class="form-group form-inline-with-uiselect-min">
                    <span class="nullable">
                        <ui-select ng-model="orderListSearchForm.adminId" theme="bootstrap" reset-search-input="true">
                            <ui-select-match allow-clear placeholder="请选择-销售">{{$select.selected.realname}}</ui-select-match>
                            <ui-select-choices repeat="adminUser.id as adminUser in adminUsers | filter: $select.search" refresh-delay="0">
                                <span ng-bind-html="adminUser.realname | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </span>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="orderListSearchForm.status" ng-options="o.value as o.name for o in availableStatus" refresh-enabled="Integer">
                                    <option value="">请选择-状态</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="orderListSearchForm.coordinateLabeled" ng-options="coordinateLabeled.key as coordinateLabeled.value for coordinateLabeled in coordinateLabeleds" refresh-enabled="Integer">
                                    <option value="">请选择-是否缺失坐标</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <select class="form-control" ng-model="orderListSearchForm.refundsIsNotEmpty" ng-options="refundsIsNotEmpty.key as refundsIsNotEmpty.value for refundsIsNotEmpty in refundsIsNotEmptys" refresh-enabled="Boolean">
                                    <option value="">请选择-是否含有退货的订单</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <select class="form-control" ng-model="orderListSearchForm.orderType" ng-options="o.val as o.desc for o in orderTypes" refresh-enabled="Integer">
                                    <option value="">订单类型</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" ng-click="resetPageAndSearchOrderList()">&nbsp;&nbsp;搜&nbsp;&nbsp;索&nbsp;&nbsp;</button>
                                <button type="button" class="btn btn-success" ng-click="excelExport()">导出excel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <br>

    <!-- 订单列表 -->
    <div class="row">
        <div class="col-lg-12 dataTable_wrapper table-responsive">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>
                        总计单数：<span class="text text-info">{{count}}</span>
                        ，总金额：<span class="text text-info">{{orderStatistics.total}}</span>
                        ，其中首单<span class="text text-info">{{orderStatistics.firstOrderCount}}</span>单
                        ，相关餐馆数量<span class="text text-info">{{orderStatistics.restaurantCount}}</span>个
                    </strong>
                </div>
                <table wt-responsive-table class="table table-striped  table-bordered table-hover">
                    <thead>
                        <tr>
                            <th><a href="" ng-click='sort("id")'>订单ID</a></th>
                            <th>餐馆ID</th>
                            <th><a href="" ng-click='sort("restaurantName")'>餐馆名称</a></th>
                            <th><a href="" ng-click='sort("sequence")'>第几单</a></th>
                            <th>店面</th>
                            <th><a href="" ng-click='sort("total")'>订单金额</a></th>
                            <th>应收金额</th>
                            <th>下单时间</th>
                            <th>状态</th>
                            <th><a href="" ng-click='sort("telephone")'>联系方式</a></th>
                            <th><a href="" ng-click='sort("adminUserId")'>销售</a></th>
                            <th>销售电话</th>
                            <th>下单人</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in orders" ng-class="{'has-error': {{order.restaurant.address.wgs84Point==null}}}">
                            <td>
                                <a class="btn btn-xs btn-info" ui-sref="oam.order-detail({id:order.id})">{{order.id}}</a>
                            </td>
                            <td>
                                <a class="btn btn-xs btn-default" ui-sref="oam.orderList({restaurantId:order.restaurant.id})">{{order.restaurant.id}}</a>
                            </td>
                            <td>{{order.restaurant.name}}</td>
                            <td>{{order.sequence}}</td>
                            <td>{{order.organization.name}}</td>
                            <td>{{order.total | currency : "￥"}}</td>
                            <td>{{order.realTotal | currency : "￥"}}</td>
                            <td>{{order.submitDate | date : "yyyy-MM-dd HH:mm:ss"}}</td>
                            <td>{{order.status.name}}</td>
                            <td>{{order.restaurant.telephone}}</td>
                            <td>{{order.adminUser.realname}}</td>
                            <td>{{order.adminUser.telephone}}</td>
                            <td>{{order.adminOperator == null ? order.customerOperator.username : order.adminOperator.realname}}</td>
                            <td>
                                <a class="btn btn-xs btn-info" ng-click="NewTicket(order)">发起工单</a>
                                <a class="btn btn-xs btn-success" ui-sref="oam.addNotes({id:order.id})" ng-if="order.memo==''">添加备注</a>
                                <a class="btn btn-xs btn-info" ui-sref="oam.addNotes({id:order.id})" ng-if="order.memo!=''">查看备注</a>
                                <a class="btn btn-xs btn-success" ui-sref="oam.cancel-order-reason({orderId:order.id})" ng-if="order.status.value==3 || order.status.value == -3">取消</a>
                                <!--<a class="btn btn-xs btn-success" ng-click="cancelOrder(order)" ng-if="order.status.value==3 || order.status.value == -3">取消</a>-->

                                <!--<a class="btn btn-xs btn-warning" ng-click="completeOrder(order)" ng-if="hasPermission('admin-list') && order.status.value==2">完成</a>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 列表底部分页 -->
    <div class="row" align="center">
        <div calss="col-lg-12">
            <pagination total-items="page.totalItems" ng-model="page.currentPage" items-per-page="page.itemsPerPage" max-size="10" class="pagination" boundary-links="true" ng-change="pageChanged()" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页">
            </pagination>
        </div>
    </div>
</div>