<div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">订单明细</h2>
        </div>
    </div>
    <!-- 明细信息 -->
    <div class="row">
        <div class="col-lg-2">
            <label>订单ID：</label>
            <span>{{order.id}}</span>
        </div>
        <div class="col-lg-3">
            <label>餐馆名称：</label>
            <span>{{order.restaurant.name}}</span>
        </div>
        <div class="col-lg-2">
            <label>餐馆ID：</label>
            <a class="btn btn-xs btn-default" ui-sref="oam.orderList({restaurantId:order.restaurant.id})">{{order.restaurant.id}}</a>
        </div>
        <div class="col-lg-2">
            <label>应收金额：</label>
            <span class="text-danger">{{order.realTotal | currency : "￥"}}</span>
        </div>
        <div class="col-lg-3">
            <label>下单时间：</label>
            <span>{{order.submitDate | date : "yyyy-MM-dd HH:mm:ss"}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <label>状态：</label>
            <span>{{order.status.name}}</span>
        </div>
        <div class="col-lg-3">
            <label>联系方式：</label>
            <span>{{order.restaurant.telephone}}</span>
        </div>
        <div class="col-lg-2">
            <label>收货人：</label>
            <span>{{order.restaurant.receiver}}</span>
        </div>
        <div class="col-lg-5">
            <label>收货地址：</label>
            <span>{{order.restaurant.address.address}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <label>销售：</label>
            <span>{{order.customer.adminUser.realname}}</span>
        </div>
        <div class="col-lg-3">
            <label>跟车员：</label>
            <span>{{order.fulfillment.tracker.realname}} {{order.fulfillment.tracker.telephone}}</span>
        </div>
        <div class="col-lg-4">
            <label>下单人：</label>
            <span>{{order.adminOperator == null ? order.customerOperator.username : order.adminOperator.realname}}</span>
        </div>
    </div>

    <!-- 购买明细列表 -->
    <div class="row">
        <div class="col-lg-12 dataTable_wrapper">
            <div class="panel panel-info">
                <div class="panel-heading"><strong>购买明细</strong></div>
                <form name="orderDetailForm">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>商品名称</th>
                            <th>转化率</th>
                            <th>单品/打包</th>
                            <th>单价</th>
                            <th>购买数量</th>
                            <th>金额</th>
                            <th>总计单品数量</th>
                            <th>总计取消数量</th>
                            <th>总计退货数量</th>
                            <th ng-if="order.status.value == 3 || order.status.value == -3">可取消订单数量</th>
                            <th ng-if="order.status.value == 4 && !order.havaUnFinishedSellCancel">可退货单品数量</th>
                            <th ng-if="order.status.value == 3 || order.status.value == -3">需要取消数量</th>
                            <th ng-if="order.status.value == 4 && !order.havaUnFinishedSellCancel">需要退货数量</th>
                            <th ng-if="order.status.value == 4 && !order.havaUnFinishedSellCancel">退货原因</th>
                            <th ng-if="order.status.value == 3 || order.status.value == -3">取消原因</th>
                            <th ng-if="(order.status.value == 4 && !order.havaUnFinishedSellCancel) || (order.status.value == 3 || order.status.value == -3)">备注</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="orderItem in order.orderItems">
                            <td>
                                <button ng-if="orderItem.spikeItem!=null" ui-sref="oam.spike-item-list({id:orderItem.spikeItem.spikeId})" type="button" class="btn btn-xs btn-default ng-binding">秒杀</button>
                                {{orderItem.sku.name}}
                            </td>
                            <td>{{orderItem.sku.capacityInBundle}}</td>
                            <td>{{orderItem.unit}}</td>
                            <td>{{orderItem.price}}</td>
                            <td>{{orderItem.bundle ? orderItem.bundleQuantity : orderItem.singleQuantity}}</td>
                            <td>{{orderItem.totalPrice}}</td>
                            <td>{{orderItem.countQuantity}}</td>
                            <td>{{orderItem.sellCancelQuantity}}</td>
                            <td>{{orderItem.sellReturnQuantity}}</td>
                            <td ng-if="order.status.value == 3 || order.status.value == -3">{{orderItem.bundle ? (orderItem.countQuantity - orderItem.sellCancelQuantity - orderItem.sellReturnQuantity)/orderItem.sku.capacityInBundle : (orderItem.countQuantity - orderItem.sellCancelQuantity - orderItem.sellReturnQuantity)}}</td>
                            <td ng-if="order.status.value == 4 && !order.havaUnFinishedSellCancel">{{orderItem.countQuantity - orderItem.sellCancelQuantity - orderItem.sellReturnQuantity}}</td>
                            <td ng-if="order.status.value == 3 || order.status.value == -3">
                                <input type="number" class="form-control" ng-model="orderItem.cancelQuantity" ng-blur="addSellCancelToArr(orderItem, true)" min="0"/>
                            </td>
                            <td ng-if="order.status.value == 4 && !order.havaUnFinishedSellCancel">
                                <input type="number" class="form-control" ng-model="orderItem.returnQuantity" ng-blur="addSellReturnToArr(orderItem)" min="0"/>
                            </td>
                            <td style="white-space: nowrap" ng-if="order.status.value == 4 && !order.havaUnFinishedSellCancel ">
                            <select class="form-control" ng-model="orderItem.reasonId" ng-required="true" ng-options="reason.id as reason.reason for reason in reasons" ng-change="addSellReturnToArr(orderItem)">
                                    <option value="">请选择-原因</option>
                                </select>
                                <!--<form editable-form name="rowform" onbeforesave="addRefundToArr($data,orderItem)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == orderItem">
                                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-xs btn-success">保存</button>
                                    <button type="button" ng-disabled="rowform.$waiting" class="btn btn-xs btn-warning" ng-click="rowform.$cancel()">取消</button>
                                </form>-->
                                <!--<div class="buttons" ng-show="!rowform.$visible">
                                    <button class="btn btn-xs btn-primary" ng-click="rowform.$show()">编辑退货信息</button>
                                </div>-->
                            </td>

                            <td style="white-space: nowrap" ng-if="order.status.value == 3 || order.status.value == -3">
                                <select class="form-control" ng-model="orderItem.cancelOrderReasonId" ng-options="o.value as o.name for o in cancelOrderReasons" ng-change="addSellCancelToArr(orderItem, false) ">
                                    <option value="">请选择-原因</option>
                                </select>
                            </td>
                            <td style="white-space: nowrap" ng-if="order.status.value == 4 && !order.havaUnFinishedSellCancel ">
                                <input type="text" class="form-control" ng-model="orderItem.memo" ng-change="addSellReturnToArr(orderItem)" />
                            </td>
                            <td style="white-space: nowrap" ng-if = " order.status.value == 3 || order.status.value == -3">
                                <input type="text" class="form-control" ng-model="orderItem.memo" ng-change="addSellCancelToArr(orderItem)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                </form>
            </div>
        </div>
    </div>

    <button ng-show="order.status.value == 3 || order.status.value == -3" type="button" class="btn btn-primary" ng-click="addSellCancel()" ng-disable="orderDetailForm.$invalid" style="float:right;">取消订单</button>
    <button ng-show="order.status.value == 4 && !order.havaUnFinishedSellCancel" type="button" class="btn btn-primary" ng-click="addSellReturn()" ng-disable="orderDetailForm.$invalid" style="float:right;">&nbsp;&nbsp;退&nbsp;&nbsp;货&nbsp;&nbsp;</button>
    <br/>
    <br/>
    <!-- 取消明细列表 -->
    <div class="row"  ng-if="order.sellCancelItems && order.sellCancelItems.length > 0">
        <div class="col-lg-12 dataTable_wrapper">
            <div class="panel panel-warning">
                <div class="panel-heading"><strong>取消明细</strong></div>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>商品名称</th>
                            <th>转化率</th>
                            <th>取消单品数量</th>
                            <th>单品价格</th>
                            <th>取消类型</th>
                            <th>操作人</th>
                            <th>操作时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="sellCancelItem in order.sellCancelItems">
                            <td>{{sellCancelItem.sku.name}}</td>
                            <td>{{sellCancelItem.sku.capacityInBundle}}</td>
                            <td>{{sellCancelItem.quantity}}</td>
                            <td>{{sellCancelItem.price}}</td>
                            <td>{{sellCancelItem.type.name}}</td>
                            <td>{{sellCancelItem.operator}}</td>
                            <td>{{sellCancelItem.createDate | date : "yyyy-MM-dd HH:mm:ss"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 退货明细列表 -->
    <div class="row" ng-if="order.sellReturnItems && order.sellReturnItems.length > 0">
        <div class="col-lg-12 dataTable_wrapper">
            <div class="panel panel-warning">
                <div class="panel-heading"><strong>退货明细</strong>
                    <a class="btn btn-xs btn-warning" ng-if="order.sellCancelId != null" ng-click="backOut(order.sellCancelId)" >撤销</a>
                </div>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>商品名称</th>
                            <th>转化率</th>
                            <th>退货单品数量</th>
                            <th>单品价格</th>
                            <th>退货原因</th>
                            <th>退货状态</th>
                            <th>操作人</th>
                            <th>操作时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="sellReturnItem in sellReturnItems">
                            <td>{{sellReturnItem.skuName}}</td>
                            <td>{{sellReturnItem.capacityInBundle}}</td>
                            <td>{{sellReturnItem.quantity}}</td>
                            <td>{{sellReturnItem.price}}</td>
                            <td>{{sellReturnItem.sellReturnReason.reason}}</td>
                            <td>{{sellReturnItem.sellReturnStatus.name}}</td>
                            <td>{{sellReturnItem.operator}}</td>
                            <td>{{sellReturnItem.returnDate | date : "yyyy-MM-dd HH:mm:ss"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 优惠明细列表 -->
    <div class="row" ng-if="order.promotions && order.promotions.length > 0">
        <div class="col-lg-12 dataTable_wrapper">
            <div class="panel panel-danger">
                <div class="panel-heading"><strong>优惠明细</strong></div>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>优惠</th>
                        <th>商品名称</th>
                        <th>数量</th>
                        <th>减免金额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="newPromotions.length == 0" ng-repeat="promotion in order.promotions">
                        <td>{{promotion.description}}</td>
                        <td>{{promotion.sku.name}}</td>
                        <td>{{promotion.quantity}}</td>
                        <td>{{promotion.discount}}</td>
                    </tr>
                    <tr ng-repeat="promotion in newPromotions">
                        <td><s>{{promotion.description}}</s></td>
                        <td><s>{{promotion.sku.name}}</s></td>
                        <td><s>{{promotion.quantity}}</s></td>
                        <td><s>{{promotion.discount}}</s></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 优惠明细列表 -->
    <div class="row" ng-if="order.customerCoupons && order.customerCoupons.length > 0">
        <div class="col-lg-12 dataTable_wrapper">
            <div class="panel panel-danger">
                <div class="panel-heading"><strong>无忧券</strong></div>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>优惠</th>
                        <th>商品名称</th>
                        <th>数量</th>
                        <th>减免金额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="newCoupons.length == 0" ng-repeat="customerCoupon in order.customerCoupons">
                        <td>{{customerCoupon.coupon.description}}</td>
                        <td>{{customerCoupon.coupon.sku.name}}</td>
                        <td>{{customerCoupon.coupon.quantity}}</td>
                        <td>{{customerCoupon.coupon.discount}}</td>
                    </tr>
                    <tr ng-repeat="customerCoupon in newCoupons">
                        <td><s>{{customerCoupon.coupon.description}}</s></td>
                        <td><s>{{customerCoupon.coupon.sku.name}}</s></td>
                        <td><s>{{customerCoupon.coupon.quantity}}</s></td>
                        <td><s>{{customerCoupon.coupon.discount}}</s></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 订单备注 -->
    <div class="row" ng-if="order.memo">
        <div class="col-lg-10">
            <label>备注：</label>
            <span>{{order.memo}}</span>
        </div>
    </div>

    <button type="button" back class="btn btn-info">&nbsp;&nbsp;返&nbsp;&nbsp;回&nbsp;&nbsp;</button>
</div>