<div class="container-fluid">
    <!-- 标题 -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">拜访记录</h2>
        </div>
    </div>
    <!-- Form -->
    <div class="row">
        <div class="col-lg-5">
            <form name="validForm" rol="form" novalidate>
                <div class="form-group" ng-show="false">
                    <input type="text" class="form-control" ng-model="saleVisitForm.saleVisitId"/>
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>餐馆ID:</label>
                    <input type="text" class="form-control" placeholder="餐馆ID" ng-model="saleVisitForm.restaurantId" required>
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>餐馆名称:</label>
                    <input type="text" class="form-control" placeholder="餐馆名称"
                           value="{{saleVisitForm.restaurant.name}}" readonly="true">
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>联系人:</label>
                    <input type="text" class="form-control" placeholder="联系人"
                           value="{{saleVisitForm.restaurant.receiver}}" readonly="true">
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>联系电话:</label>
                    <input type="text" class="form-control" placeholder="联系电话"
                           value="{{saleVisitForm.restaurant.telephone}}" readonly="true">
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>职务:</label>
                    <input type="text" class="form-control" placeholder="职务"
                           value="{{saleVisitForm.restaurant.restaurantName}}" readonly="true">
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>跟进日期:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" datepicker-append-to-body="true" placeholder="跟进日期"
                               datetime-picker="{{dateOptions.dateFormat}}" ng-model="saleVisitForm.visitTime"
                               is-open="isVisitTimeOpen" datepicker-options="dateOptions" timepicker-Options="timeOptions"
                               today-text="今日" now-text="现在" clear-text="清除" date-text="日期" time-text="时间"
                               close-text="关闭" ng-click="visitTimeOpen($event)" refresh-enabled="Date" date-for-search/>
                    </div>
                </div>

                <div class="form-group">
                    <label><font color="red">*</font>拜访阶段:</label>
                    <select class="form-control" ng-model="saleVisitForm.visitStage" ng-options="visitStage.value as visitStage.name for visitStage in visitStages">
                        <option value="">请选择-拜访阶段</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>拜访目的:</label>
                    <ul>
                        <li ng-repeat="visitPurpose in visitPurposes" style="list-style-type:none;">
                            <input type="checkbox" checklist-value="visitPurpose.value"
                                   checklist-model="saleVisitForm.visitPurposes">{{visitPurpose.name}}
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>合作意向产品:</label>
                    <ul>
                        <li ng-repeat="intentionProduction in intentionProductions" style="list-style-type:none;">
                            <input type="checkbox" checklist-value="intentionProduction.value"
                                   checklist-model="saleVisitForm.intentionProductions">{{intentionProduction.name}}
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>遇到问题:</label>
                    <ul>
                        <li ng-repeat="visitTrouble in visitTroubles" style="list-style-type:none;">
                            <input type="checkbox" checklist-value="visitTrouble.value"
                                   checklist-model="saleVisitForm.visitTroubles">{{visitTrouble.name}}
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>对策:</label>
                    <ul>
                        <li ng-repeat="visitSolution in visitSolutions" style="list-style-type:none;">
                            <input type="checkbox" checklist-value="visitSolution.value"
                                   checklist-model="saleVisitForm.visitSolutions">{{visitSolution.name}}
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>预计下次拜访时间:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" datepicker-append-to-body="true" placeholder="跟进日期"
                               datetime-picker="{{dateOptions.dateFormat}}" ng-model="saleVisitForm.nextVisitTime"
                               is-open="isNextVisitTimeOpen" datepicker-options="dateOptions" timepicker-Options="timeOptions"
                               today-text="今日" now-text="现在" clear-text="清除" date-text="日期" time-text="时间"
                               close-text="关闭" ng-click="nextVisitTimeOpen($event)" refresh-enabled="Date" date-for-search/>
                    </div>
                </div>

                <div class="form-group">
                    <label>下次拜访阶段:</label>
                    <select class="form-control" ng-model="saleVisitForm.nextVisitStage" ng-options="visitStage.value as visitStage.name for visitStage in visitStages">
                        <option value="">请选择-下次拜访阶段</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>备注:</label>
                    <textarea cols="60" rows="8" ng-model="remark" placeholder="备注"></textarea>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-primary" ng-click="update()" ng-disabled="validForm.$invalid">&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;</button>
                    <button type="button" back class="btn btn-info">&nbsp;&nbsp;返&nbsp;&nbsp;回&nbsp;&nbsp;</button>
                </div>
            </form>
        </div>
    </div>
</div>