<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">付款录入</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-7">
			<form name="paymentForm">
				<div class="form-group">
					<label><font color="red">*</font>付款日期:</label>
					<input type="text" name="payDate" class="form-control" datepicker-popup="{{format}}" ng-model="payment.payDate" is-open="openedStart" datepicker-options="dateOptions" current-text="今日" clear-text="清除" close-text="关闭" ng-click="openStart($event)" validate-null/>
				</div>
				<div class="form-group">
					<label><font color="red">*</font>城市:</label>
					<select class="form-control" name="cityId" ng-model="payment.cityId" ng-options="city.id as city.name for city in cities" validate-null>
						<option value="">请选择-城市</option>
					</select>
				</div>
				<div class="form-group">
					<label><font color="red">*</font>店面:</label>
					<select class="form-control" name="organizationId" ng-model="payment.organizationId" ng-options="o.id as o.name for o in organizations" validate-null>
						<option value="">请选择-店面</option>
					</select>
				</div>
				<div class="form-group">
					<label><font color="red">*</font>供应商:</label>
					<ui-select class="editable-input" name="vendorId" ng-model="payment.vendorId" theme="bootstrap" validate-null>
						<ui-select-match allow-clear placeholder="请选择-供货商">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices refresh-delay="0" repeat="vendor.id as vendor in vendors | filter: $select.search">
							<span ng-bind-html="vendor.name | highlight: $select.search"></span>
						</ui-select-choices>
					</ui-select>
				</div>
				<div class="form-group">
					<label><font color="red">*</font>付款方式:</label>
					<select class="form-control" name="methodId" ng-model="payment.methodId" ng-options="method.id as method.name for method in methods" validate-null>
						<option value="">请选择-付款方式</option>
					</select>
				</div>

				<div class="form-group">
					<label><font color="red">*</font>付款金额:</label>
					<input type="text" class="form-control" name="amount" ng-model="payment.amount" validate-number validate-null>
				</div>

				<div class="form-group">
					<label>备注:</label>
					<input type="text" class="form-control" name="remark" ng-model="payment.remark">
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary" ng-click="create()" ng-disabled="paymentForm.$invalid || submitting">&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;</button>
					<button type="button" back class="btn btn-info">&nbsp;&nbsp;取&nbsp;&nbsp;消&nbsp;&nbsp;</button>
				</div>

			</form>

		</div>
	</div>

</div>