<div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">仓库管理</h2>
        </div>
    </div>

    <!--查询条件表单 -->
    <div class="row">
        <div class="col-lg-12">
            <form rol="form" class="form-inline">
                <div class="form-group">
                    <select class="form-control" ng-model="formData.cityId" ng-options="city.id as city.name for city in cities">
                        <option value="">请选择-城市</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="searchForm()">&nbsp;&nbsp;搜&nbsp;&nbsp;索&nbsp;&nbsp;</button>
                <button type="button" ui-sref="oam.addDepot" class="btn btn-info" ng-click="createDepot()">&nbsp;&nbsp;添&nbsp;&nbsp;加&nbsp;&nbsp;</button>
            </form>
        </div>
    </div>
    <br>
    
    <!-- 仓库列表 -->
    <div class="row">
        <div class="col-lg-12 dataTable_wrapper table-responsive">
            <div class="panel panel-default">
                <table class="table table-striped  table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>城市</th>
                            <th>仓库ID</th>
                            <th>仓库名称</th>
                            <th>经纬度</th>
                            <th>主仓</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="depot in depots">
                            <td>{{depot.city != null ? depot.city.name : ''}}</td>
                            <td>{{depot.id}}</td>
                            <td>{{depot.name}}</td>
                            <td>{{depot.longitude != null && depot.latitude != null ? (depot.longitude + ',' + depot.latitude) : null}}</td>
                            <td>{{depot.isMain != null ? (depot.isMain ? "是" : "否") : '否'}}</td>
                            <td>
                                <a class="btn btn-xs btn-primary" ui-sref="oam.addDepot({id:depot.id})">编辑</a>
                                <a ng-if="depot.isMain == false" class="btn btn-xs btn-success" ng-click="updateDepot(depot, true)">设为主仓</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    