<div class="container-fluid">
	<!-- 页面标题 -->
	<div class="row">
		<div class="col-lg-12"> 
			<h2 class="page-header" ng-if="!isEditDepot">添加仓库</h2>
			<h2 class="page-header" ng-if="isEditDepot">编辑仓库</h2>
		</div>
	</div>

	<!-- 添加仓库页面 -->
	<div class="row"> 
		<div class="col-lg-5">
			<form name="addDepotForm" rol="form" novalidate>
				<div class="form-group">
					<label><font color="red">*</font>城市:</label>
					<select class="form-control" ng-model="depot.cityId" ng-options="city.id as city.name for city in cities" required>
						<option value="">请选择-城市</option>
					</select>
				</div>
				<div class="form-group" ng-class="{'has-error':addDepotForm.name.$invalid && !addDepotForm.name.$pristine}">
					<label><font color="red">*</font>仓库名称:</label>
					<input type="text" class="form-control" name="name" ng-model="depot.name" required>
					<p ng-show="addDepotForm.name.$invalid && !addDepotForm.name.$pristine" class="help-block">请输入仓库名称</p>
				</div>
                <div class="form-group" ng-class="{'has-error':addDepotForm.longitude.$invalid}">
                    <label>经度:</label>
                    <input type="text" class="form-control" name="longitude" ng-model="depot.longitude" validate-positive>
                    <p ng-show="addDepotForm.longitude.$invalid" class="help-block">经度是数值型</p>
                </div>
                <div class="form-group" ng-class="{'has-error':addDepotForm.latitude.$invalid}">
                    <label>纬度:</label>
                    <input type="text" class="form-control" name="latitude" ng-model="depot.latitude" validate-positive>
                    <p ng-show="addDepotForm.latitude.$invalid" class="help-block">纬度是数值型</p>
                </div>

                <!--<div class="form-group form-inline">
                    <label>是否主仓:</label>
                    <label class="checkbox">
                        <input type="checkbox" ng-model="depot.isMain" ng-checked="false">
                    </label>
                </div>-->

				<div class="form-group">
					<button type="button" class="btn btn-primary" ng-click="createDepot()" ng-disabled="addDepotForm.$invalid">&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;</button>
					<button type="button" back class="btn btn-info">&nbsp;&nbsp;返&nbsp;&nbsp;回&nbsp;&nbsp;</button>
				</div>
			</form>
		</div>
	</div>

</div>