<div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">已收货未收款</h2>
        </div>
    </div>

    <!--查询条件表单 -->
    <div class="row">
        <div class="col-lg-12">
            <form rol="form" class="form-inline">
                <div class="form-group">
                    <select class="form-control" ng-model="formData.cityId" ng-options="c.id as c.name for c in cities">
                        <option value="">请选择-城市</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="formData.depotId" ng-options="d.id as d.name for d in depots">
                        <option value="">请选择-仓库</option>
                    </select>
                </div>
                <div class="form-group">
                    <!--<select class="form-control" ng-model="formData.trackerId" ng-options="t.id as t.realname for t in trackers">-->
                        <!--<option value="">请选择-线路</option>-->
                    <!--</select>-->
                    <refresh-enabled type="Integer" ng-model="formData.trackerId">
                        <ui-select class="editable-input" name="trackerId" ng-model="formData.trackerId" theme="bootstrap">
                            <ui-select-match allow-clear placeholder="请选择-线路">
                                {{$select.selected.realname}}
                            </ui-select-match>
                            <ui-select-choices refresh-delay="0" repeat="tracker.id as tracker in trackers | filter: $select.search">
                                <span ng-bind-html="tracker.realname | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </refresh-enabled>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="出库单号" ng-model="formData.stockOutId">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="订单编号" ng-model="formData.orderId">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="SKU ID" ng-model="formData.skuId">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="商品名称" ng-model="formData.skuName">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="起始订单时间" datepicker-append-to-body="true"
                           datetime-picker="{{dateOptions.dateFormat}}" datepicker-options="dateOptions" timepicker-Options="timeOptions"
                           ng-model="formData.startOrderDate" is-open="openedStartOrderDate"
                           today-text="今日" now-text="现在" clear-text="清除" date-text="日期" time-text="时间" close-text="关闭"
                           ng-click="openStartOrderDate($event)" date-for-search/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="截至订单时间" datepicker-append-to-body="true"
                           datetime-picker="{{dateOptions.dateFormat}}" datepicker-options="dateOptions" timepicker-Options="timeOptions"
                           ng-model="formData.endOrderDate" is-open="openedEndOrderDate"
                           today-text="今日" now-text="现在" clear-text="清除" date-text="日期" time-text="时间" close-text="关闭"
                           ng-click="openEndOrderDate($event)" date-for-search/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="客户名称" ng-model="formData.customerName">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-click="SearchStockOutOrders()">&nbsp;&nbsp;查&nbsp;&nbsp;询&nbsp;&nbsp;</button>
                    <button type="submit" ng-disabled="formData.selectStockOuts.length <= 0" class="btn btn-primary" ng-click="batchReceive()">批量收款</button>
                </div>
            </form>
        </div>
    </div>
    <br>

    <!-- 出库单明细列表 -->
    <div class="row">
        <div class="col-lg-12 dataTable_wrapper table-responsive">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>
                        总记录数：<span class="text text-info">{{page.totalItems}}</span>　　
                        实收总金额：<span class="text text-info">{{totalAmount}}</span>
                    </strong>
                </div>
                <table class="table table-striped  table-bordered table-hover">
                    <thead>
                    <tr>
                        <th><input type="checkbox" ng-click="checkAll()"></th>
                        <th>出库单号</th>
                        <th>订单编号</th>
                        <th>仓库</th>
                        <th>客户</th>
                        <th>线路</th>
                        <th>实收金额</th>
                        <th>创建时间</th>
                        <th>预期配送时间</th>
                        <th>送货时间</th>
                        <th>收货时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stockOut in stockOuts">
                        <td><input type="checkbox" checklist-model="formData.selectStockOuts" checklist-value="stockOut"></td>
                        <td>
                            <a class="btn btn-xs btn-info" ui-sref="oam.stockOut-info({id:stockOut.stockOutId})">{{stockOut.stockOutId}}</a>
                        </td>
                        <td>
                            <a class="btn btn-xs btn-info" ui-sref="oam.order-info({id:stockOut.orderId})">{{stockOut.orderId}}</a>
                        </td>
                        <td>{{stockOut.depotName}}</td>
                        <td>{{stockOut.customerName}}</td>
                        <td>{{stockOut.trackerName}}</td>
                        <td>{{stockOut.receiveAmount}}</td>
                        <td>{{stockOut.createDate | date : "yyyy-MM-dd HH:mm"}}</td>
                        <td>{{stockOut.expectedArrivedDate | date : "yyyy-MM-dd"}}</td>
                        <td>{{stockOut.finishDate | date : "yyyy-MM-dd HH:mm"}}</td>
                        <td>{{stockOut.receiveDate | date : "yyyy-MM-dd HH:mm"}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 列表底部分页 -->
    <div class="row" align="center">
        <div calss="col-lg-12">
            <pagination total-items="page.totalItems" ng-model="page.currentPage" items-per-page="page.itemsPerPage" max-size="10" class="pagination" boundary-links="true" ng-change="pageChanged()" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页"></pagination>
        </div>
    </div>

    <loader class="maskLayer"></loader>
</div>
    