<div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header" ng-show="stockInType==1">采购入库</h2>

            <h2 class="page-header" ng-show="stockInType==2">退货入库</h2>

            <h2 class="page-header" ng-show="stockInType==3">调拨入库</h2>
        </div>
    </div>

    <!--查询条件表单 -->
    <div class="row">
        <div class="col-lg-12">
            <form rol="form" class="form-inline">
                <div class="form-group">
                    <select class="form-control" ng-model="stockInForm.cityId"
                            ng-options="c.id as c.name for c in cities" refresh-enabled="Integer">
                        <option value="">请选择-城市</option>
                    </select>
                </div>
                <div class="form-group" ng-show="stockInType!=3">
                    <select class="form-control" ng-model="stockInForm.depotId"
                            ng-options="d.id as d.name for d in depots" refresh-enabled="Integer">
                        <option value="">请选择-仓库</option>
                    </select>
                </div>
                <div class="form-group" ng-show="stockInType==3">
                    <select class="form-control" ng-model="stockInForm.sourceDepotId"
                            ng-options="sd.id as sd.name for sd in sourceDepots" refresh-enabled="Integer">
                        <option value="">来源-仓库</option>
                    </select>
                </div>
                <div class="form-group" ng-show="stockInType==3">
                    <select class="form-control" ng-model="stockInForm.targetDepotId"
                            ng-options="td.id as td.name for td in targetDepots" refresh-enabled="Integer">
                        <option value="">入库-仓库</option>
                    </select>
                </div>
                <div class="form-group" ng-show="stockInType==1">
                    <select class="form-control" ng-model="stockInForm.purchaseOrderType"
                            ng-options="t.value as t.name for t in purchaseOrderTypes" refresh-enabled="Integer">
                        <option value="">采购-类型</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="入库单号" ng-model="stockInForm.stockInId"
                           refresh-enabled="Integer">
                </div>
                <div class="form-group" ng-show="stockInType==1">
                    <input type="text" class="form-control" placeholder="采购单号"
                           ng-model="stockInForm.purchaseOrderId" refresh-enabled="Integer">
                </div>
                <div class="form-group" ng-show="stockInType==1">
                    <!--<input type="text" class="form-control" placeholder="供应商" ng-model="stockInForm.vendorName" refresh-enabled="String">-->
                    <refresh-enabled type="Integer" ng-model="stockInForm.vendorId">
                        <ui-select class="editable-input" name="vendorId" ng-model="stockInForm.vendorId" theme="bootstrap">
                            <ui-select-match allow-clear placeholder="请选择-供货商">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices refresh-delay="0" repeat="vendor.id as vendor in vendors | filter: $select.search">
                                <span ng-bind-html="vendor.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </refresh-enabled>
                </div>
                <div class="form-group" ng-show="stockInType==2">
                    <input type="text" class="form-control" placeholder="退货单号" ng-model="stockInForm.sellReturnId"
                           refresh-enabled="Integer">
                </div>
                <div class="form-group" ng-show="stockInType==2">
                    <input type="text" class="form-control" placeholder="订单编号" ng-model="stockInForm.orderId"
                           refresh-enabled="Integer">
                </div>
                <div class="form-group" ng-show="stockInType==3">
                    <input type="text" class="form-control" placeholder="调拨单号" ng-model="stockInForm.transferId"
                           refresh-enabled="Integer">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="SKU ID" ng-model="stockInForm.skuId"
                           refresh-enabled="Integer">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="商品名称" ng-model="stockInForm.skuName"
                           refresh-enabled="String">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-click="search()">&nbsp;&nbsp;查&nbsp;&nbsp;询&nbsp;&nbsp;</button>
                </div>
            </form>
        </div>
    </div>
    <br>

    <!-- 订单明细列表 -->
    <div class="row">
        <div class="col-lg-12 dataTable_wrapper table-responsive">
            <div class="panel panel-default" style="overflow-x:auto;white-space:nowrap;">
                <table class="table table-striped  table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>入库单号</th>
                        <th ng-show="stockInType==1">采购单号</th>
                        <th ng-show="stockInType!=3">仓库名称</th>
                        <th ng-show="stockInType==1">供货商</th>
                        <th ng-show="stockInType==1">采购方式</th>
                        <th ng-show="stockInType==1">预入库时间</th>
                        <th ng-show="stockInType==2">退货单号</th>
                        <th ng-show="stockInType==2">订单编号</th>
                        <th ng-show="stockInType==2">客户名称</th>
                        <th ng-show="stockInType==3">调拨单号</th>
                        <th ng-show="stockInType==3">来源仓库</th>
                        <th ng-show="stockInType==3">入库仓库</th>
                        <th>创建时间</th>
                        <th>创建人</th>
                        <th>入库</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stockIn in stockIns">
                        <td>{{stockIn.stockInId}}</td>
                        <td ng-show="stockInType==1">{{stockIn.purchaseOrderId}}</td>
                        <td ng-show="stockInType!=3">{{stockIn.depotName}}</td>
                        <td ng-show="stockInType==1">{{stockIn.vendorName}}</td>
                        <td ng-show="stockInType==1">{{stockIn.purchaseOrderType}}</td>
                        <td ng-show="stockInType==1">{{stockIn.expectedArrivedDate | date : "yyyy-MM-dd HH:mm"}}</td>
                        <td ng-show="stockInType==2">{{stockIn.sellReturnId}}</td>
                        <td ng-show="stockInType==2">{{stockIn.orderId}}</td>
                        <td ng-show="stockInType==2">{{stockIn.customerName}}</td>
                        <td ng-show="stockInType==3">{{stockIn.transferId}}</td>
                        <td ng-show="stockInType==3">{{stockIn.sourceDepotName}}</td>
                        <td ng-show="stockInType==3">{{stockIn.targetDepotName}}</td>
                        <td>{{stockIn.createDate | date : "yyyy-MM-dd HH:mm"}}</td>
                        <td>{{stockIn.creator}}</td>
                        <td>
                            <a class="btn btn-xs btn-info"
                               ui-sref="oam.stockIn-receive({stockInId:stockIn.stockInId,stockInType:stockInType,part:false})">全部入库</a>
                            <a class="btn btn-xs btn-info"
                               ui-sref="oam.stockIn-receive({stockInId:stockIn.stockInId,stockInType:stockInType,part:true})" ng-show="stockInType==1">部分入库</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 列表底部分页 -->
    <div class="row" align="center">
        <div calss="col-lg-12">
            <pagination total-items="page.totalItems" ng-model="page.currentPage" items-per-page="page.itemsPerPage"
                        first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页" class="pagination"
                        boundary-links="true" ng-change="pageChanged()"></pagination>
        </div>
    </div>

    <loader class="maskLayer"></loader>
</div>
    