    <!-- 页面标题 -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">{{processes[0].name}}</h2>
        </div>
    </div>

    <div class="panel-body">
        <form name="iForm" rol="form" class="form-inline" ng-submit="submit();">

            <div class="row alert alert-warning" role="alert">
                <div class="form-group">
                    <label>咨询人</label><br/>
                    <input type="text" class="form-control" ng-model="formData.consultants"/>
                </div>
                <div class="form-group">
                    <label>咨询人手机号</label><br/>
                    <input type="text" class="form-control" ng-model="formData.consultantsTelephone"/>
                </div>

                <div class="form-group">
                    <label>餐馆ID</label><br/>
                    <input type="text" class="form-control" ng-model="formData.restaurant.id"/>
                </div>

                <div class="form-group">
                    <label>餐馆名称</label><br/>
                    <input type="text" class="form-control" ng-model="formData.restaurant.name"/>
                </div>

                <div class="form-group">
                    <label>餐馆联系人</label><br/>
                    <input type="text" class="form-control" ng-model="formData.restaurant.receiver" />
                </div>

                <br/><br/>
                <div class="form-group">
                    <label>餐馆联系人电话</label><br/>
                    <input type="text" class="form-control" ng-model="formData.restaurant.telephone" />
                </div>

                <div class="form-group">
                    <label>关联订单ID</label><br/>
                    <input type="text" class="form-control" ng-model="formData.orderId"/>
                </div>

                <div class="form-group">
                    <label>待跟进人</label><br/>
                    <ui-select ng-model="formData.followUp" name="formData.followUpId" theme="bootstrap" reset-search-input="true" required
                               ng-change="searchDai($select.selected);">
                        <ui-select-match allow-clear placeholder="待跟进人">{{$select.selected.realname}}</ui-select-match>
                        <ui-select-choices repeat="adminUser.id as adminUser in newAdminUsers | filter: $select.search" refresh-delay="0">
                            <span ng-bind-html="adminUser.realname | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group">
                    <label>待跟进人手机号</label><br/>
                    <input type="text" class="form-control" ng-model="formData.followUp.telephone"/>
                </div>

                <div class="form-group">
                    <label>问题来源</label><br/>
                    <select class="form-control" ng-model="formData.problemSources" style="width: 195px"
                            ng-options="problemSource.type as problemSource.name for problemSource in problemSources" validate-null>
                    </select>
                </div>

            </div>

            <div class="row alert alert-info" role="alert">
                <div class="form-group">
                    <label>问题类型</label><br/>
                    <select class="form-control" ng-model="formData.process"  style="width: 195px" id="process"
                            ng-options="process.type as process.name for process in processes"
                            ng-change="processChange(formData.process)" validate-null >
                    </select>
                </div>

                <div>
                    <div ui-view=""/>
                </div>

                <div class="form-group" ng-if="formData.status==0">
                    <label>回复</label><br/>
                    <textarea rows="5" style="width: 1000px" ng-model="formData.content.reply.replyContent" class="form-control" placeholder="回复内容"></textarea>
                </div>

                <div class="form-group" ng-if="formData.status!=0">

                    <div class="form-group" ng-repeat="reply in formData.content.replys track by $index">
                        <label>{{reply.replyer}}</label><span class="ticket-date bstooltip">&nbsp;@ {{reply.replyTime}}</span>
                        <textarea rows="5" style="width: 1000px" class="form-control" placeholder="回复内容">{{reply.replyContent}}</textarea>
                    </div>
                    <br/>
                    <label>回复</label><br/>
                    <textarea rows="5" style="width: 1000px" ng-model="formData.content.reply.replyContent" class="form-control" placeholder="回复内容"></textarea>
                </div>

            </div>

            <input type="file" name="attachment" id="inputAttachment" accept="image/*" >

            <br/>
            <div class="form-group">
                <button type="submit"  class="btn btn-primary">&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;</button>
            </div>

            <div class="form-group">
                <button type="button"  class="btn btn-primary" ng-click="">&nbsp;&nbsp;关闭工单&nbsp;&nbsp;</button>
            </div>

            <div class="form-group">
                <a back class="btn btn-info">&nbsp;&nbsp;返&nbsp;&nbsp;回&nbsp;&nbsp;</a>
            </div>

        </form>
    </div>
