<div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">积分兑换</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <form name="thisForm"  ng-submit="submitForm()" >
                <div class="form-group">
                    <label>客户账号:{{couponData.customer.username}}</label>
                </div>
                <div class="form-group">
                    <label>餐馆:
                            <span ng-repeat="restaurant in couponData.customer.restaurant">
                                <button  type="button" class="btn btn-xs btn-default">{{restaurant.name}}</button>
                            </span>
                    </label>
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>选择优惠券:</label>

                    <table wt-responsive-table class="table table-striped  table-bordered table-hover">
                        <thead>
                            <th></th>
                            <th>优惠券ID</th>
                            <th>优惠券名称</th>
                            <th>所需积分</th>
                        </thead>
                        <tbody>
                            <tr  ng-repeat="coupon in couponData.coupons"  >
                                <th><input required name="couponRadio" type="radio" ng-model="inParam.couponId" ng-value="coupon.id"></th>
                                <td>{{coupon.id}}</td>
                                <td>{{coupon.name}}</td>
                                <td>{{coupon.score}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>兑换数量:</label>
                    <input value="1" pattern="[0-9]+" class="form-control ng-pristine ng-valid ng-touched" min="1" type="number" ng-model="inParam.count" required/>
                </div>
                <div class="form-group">
                    <label ng-class="checkExchangeScore() ? 'text-success':'text-error'" >
                        所需积分:{{isNaN(currentCoupon.score * inParam.count)?'-':currentCoupon.score * inParam.count}}
                    </label>
                </div>
                <div class="form-group">
                    <label>可用积分:{{couponData.score.totalScore - couponData.score.exchangeScore}}</label>
                </div>
                <div class="form-group">
                    <button  type="submit" ng-disabled="!checkExchangeScore()" class="btn btn-primary" >&nbsp;&nbsp;兑&nbsp;&nbsp;换&nbsp;&nbsp;</button>
                    <button type="button" back class="btn btn-info">&nbsp;&nbsp;返&nbsp;&nbsp;回&nbsp;&nbsp;</button>
                </div>
            </form>
        </div>
    </div>
    <loader class="maskLayer"></loader>
</div>