<div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">餐馆分类管理</h2>
        </div>
    </div>

    <!-- 分类管理-查询条件表单 -->
    <!--<div class="row">-->
        <!--<div class="col-lg-12">-->
            <!--<form class="form-inline">-->
                <!--<div class="form-group">-->
                    <!--<label>城市:</label>-->
                    <!--<div class="form-group">-->
                        <!--<select class="form-control" ng-model="form.cityId" ng-options="c.id as c.name for c in cities"-->
                                <!--refresh-enabled="Integer">-->
                            <!--<option value="">请选择-城市</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
    <br>

    <!-- 分类信息列表 -->
    <div class="row">
        <div class="col-lg-12">
            <label>餐馆分类：</label>
            <label class="checkbox-inline">
                <input type="checkbox" checklist-model="form.status"
                       checklist-value="1">
            </label>
            <label style="color:blue">待审核</label>

            <label class="checkbox-inline">
                <input type="checkbox" checklist-model="form.status" checklist-value="2">
            </label>
            <label style="color:green">生效</label>


            <label class="checkbox-inline">
                <input type="checkbox" checklist-model="form.status" checklist-value="3">
            </label>
            <label style="color:red">失效</label><br>

            <a class="btn btn-info" ng-if="hasPermission('restaurant-type-edit')" ui-sref="oam.restaurant-type-detail">&nbsp;&nbsp;添&nbsp;&nbsp;加&nbsp;&nbsp;</a>

            <br>
            <div ui-tree="treeOptions">
                <ol ui-tree-nodes ng-model="nodes" id="tree-root">
                    <li ng-repeat="node in nodes" ui-tree-node collapsed="true"
                        ng-include="'nodes_renderer.html'" ng-show="visible(node)"></li>
                </ol>
            </div>
        </div>

    </div>
</div>


<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle>
        <a class="btn btn-success btn-xs" ng-if="node.children && node.children.length > 0" data-nodrag
           ng-click="toggle(this)"><span
                class="glyphicon"
                ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
        <label ng-if="node.status == 1" style="color:blue"> {{node.text}}</label>
        <label ng-if="node.status == 2" style="color:green">{{node.text}}</label>
        <label ng-if="node.status == 3" style="color:red">{{node.text}}</label>

        <a class="btn btn-xs btn-primary" ng-if="node.id != -2 && hasPermission('restaurant-type-edit')" ui-sref="oam.restaurant-type-detail({id:node.id})" data-nodrag>修改</a>
        <!--<a ng-if="node.id != -2 && form.cityId" ng-switch="form.cityId && node.cityIds && node.cityIds.indexOf(form.cityId) != -1" data-nodrag>-->
            <!--<button class="btn btn-xs btn-success" ng-switch-when="true" ng-click="setrestaurantTypeCity(node, form.cityId, false)">显示</button>-->
            <!--<button class="btn btn-xs btn-warning" ng-switch-default="false" ng-click="setrestaurantTypeCity(node, form.cityId, true)">不显示</button>-->
        <!--</a>-->
    </div>
    <ol ui-tree-nodes ng-model="node.children" ng-if="!collapsed">
        <li ng-repeat="node in node.children" ui-tree-node collapsed="true"
            ng-include="'nodes_renderer.html'" ng-show="visible(node)">
        </li>
    </ol>
</script>

