<div class="container-fluid">
    <!-- 页面标题 -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">重单餐馆</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form rol="form" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="起始时间" datepicker-popup="{{dateOptions.dateFormat}}" ng-model="orderDate" is-open="openedStart" datepicker-options="dateOptions" current-text="今日" clear-text="清除" close-text="关闭" ng-click="openStart($event)"/>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="resetPageAndSearchForm()">&nbsp;&nbsp;搜&nbsp;&nbsp;索&nbsp;&nbsp;</button>
            </form>
        </div>
    </div>
    <br>

    <!-- 商户管理 餐馆列表 -->
    <div class="row">
        <div class="col-lg-12 dataTable_wrapper table-responsive">
            <div class="panel panel-default">
                <!--<div class="panel-heading">-->
                    <!--<strong>-->
                        <!--共计商户数：<span class="text text-info">{{page.totalItems}}</span>-->
                        <!--，消费金额为：<span class="text text-info">{{restaurantSummary.totalConsumption}}</span>-->
                        <!--，本月金额为：<span class="text text-info">{{restaurantSummary.monthlyConsumption}}</span>-->
                        <!--，新增下单客户数：<span class="text text-info">{{restaurantSummary.aliveCustomer}}</span>-->
                    <!--</strong>-->
                <!--</div>-->
                <table wt-responsive-table class="table table-striped  table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>餐馆ID</th>
                            <th>店名</th>
                            <th>详细地址</th>
                            <th>市场</th>
                            <th>收货人</th>
                            <th>联系电话</th>
                            <th>销售</th>
                            <th>预警订单</th>
                            <th>注册时间</th>
                            <th>客户等级</th>
                            <th>预警标示</th>
                            <th>未下单天数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="restaurant in restaurants">
                            <td>{{restaurant.id}}</td>
                            <td>{{restaurant.name}}</td>
                            <td>{{restaurant.address.address}}</td>
                            <td>{{restaurant.customer.block.warehouse.name}}</td>
                            <td>{{restaurant.receiver}}</td>
                            <td>{{restaurant.telephone}}</td>
                            <td>{{restaurant.customer.adminUser.realname}}</td>
                            <td><a class="btn btn-xs btn-info" ui-sref="oam.orderList({restaurantId:restaurant.id,start:startDate,end:endDate})">{{alarmCount[restaurant.id] == null ? 0 :alarmCount[restaurant.id]}}</a></td>
                            <td>{{restaurant.createTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                            <td>{{restaurant.grade}}</td>
                            <td>{{restaurant.warning}}</td>
                            <td>{{restaurant.blankTime}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 列表底部分页 -->
    <!--<div class="row" align="center">
        <div calss="col-lg-12">
            <pagination total-items="page.totalItems" ng-model="page.currentPage" items-per-page="page.itemsPerPage" max-size="10" class="pagination" boundary-links="true" ng-change="pageChanged()" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页"></pagination>
        </div>
    </div>-->
</div>
    