<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">获取用户登录token</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form name="tokenForm" rol="form" class="form-inline">


                <div class="form-group">
                    <label><font color="red">*</font>用户名:</label>
                    <input type="text" class="form-control" name="username" ng-model="username.token"  ng-pattern="/^\d+$/" required>
                </div>

                <button type="button"  ng-click="obtainToken()" class="btn btn-info" ng-disabled="tokenForm.$invalid">&nbsp;&nbsp;获&nbsp;&nbsp;取&nbsp;&nbsp;</button>
            </form>
        </div>
    </div>
    <br>
</div>